
      <h3 class="govuk-heading-s">19 January 2026 – Ongoing</h3>


{{ govukSummaryList({
        card: {
          title: {
            text: "Hospital"
          },
          actions: {
            items: [
              {
                href: "/payability/v3/person-record/stay-overview",
                text: "View",
                visuallyHiddenText: "of Freeman Hospital"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Accommodation name"
            },
            value: {
              html: "Hospital name goes here"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              html: "19 January 2026"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: '<strong class="govuk-tag govuk-tag--blue">
                     Incomplete
                     </strong>'
            }
          }
        ]
      }) }}