{% macro SaveCompletedStay(stay) %}

{% set monthNames = {
  "01":"January","1":"January",
  "02":"February","2":"February",
  "03":"March","3":"March",
  "04":"April","4":"April",
  "05":"May","5":"May",
  "06":"June","6":"June",
  "07":"July","7":"July",
  "08":"August","8":"August",
  "09":"September","9":"September",
  "10":"October",
  "11":"November",
  "12":"December"
} %}

{% set start = stay.startDate.day ~ " " ~ monthNames[stay.startDate.month] ~ " " ~ stay.startDate.year %}
{% set end = stay.endDate.day ~ " " ~ monthNames[stay.endDate.month] ~ " " ~ stay.endDate.year %}

<p class="govuk-body">{{ start }} – {{ end }}</p>

{{ govukSummaryList({
  card: {
    title: { text: stay.name },
    actions: {
      items: [
        {
          href: "/payability/v3/person-record/stay-overview?stayIndex=" ~ stay.id,
          text: "View",
          visuallyHiddenText: "of " ~ stay.name
        },
        {
          href: "/payability/v3/stay/delete?stayIndex=" ~ stay.id,
          text: "Delete",
          visuallyHiddenText: "of " ~ stay.name
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "Accommodation type" },
      value: { text: stay.type or "Not provided" }
    },{
      key: { text: "Date recorded" },
      value: { text: stay.dateRecorded }
    },
    {
      key: { text: "Marked complete" },
      value: { text: stay.dateCompleted or "Not available" }
    }
  ]
}) }}

{% endmacro %}