      {{ govukSummaryList({
        card: {
          title: {
            text: "Freeman Hospital"
          },
          actions: {
            items: [
              {
                href: "/payability/v3/person-record/stay-overview",
                text: "View",
                visuallyHiddenText: "of Freeman Hospital"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "Accommodation type" },
            value: { text: "Hospital" }
          },
          {
            key: { text: "Date stay was added" },
            value: { text: "12 April 2026" }
          }
        ]
      }) }}