{% if data.PayabilityPersona == "Agent handling an ongoing claim" 
   and data.PayabilityScenario == "linked stay" %}
  <h2 class="govuk-heading-m govuk-!-padding-top-6">Linked stays</h2>
  <ul class="govuk-list govuk-list--bullet ">
    <li><a href="#">Stay in hospital: 13 January 2023 - 15 January 2023</a></li>
  </ul>
{% endif %}
