{% macro taskStatus(answer) %}
  {% if answer == "I don't know" %}
    {{
      govukTag({
        text: "Paused",
        classes: "govuk-tag--yellow"
      })
    }}
  {% elif answer %}
    {{
      govukTag({
        text: "Done",
        classes: "govuk-tag--green"
      })
    }}
  {% else %}
    {{
      govukTag({
        text: "To do",
        classes: "govuk-tag--grey"
      })
    }}
  {% endif %}
{% endmacro %}