{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with Firstname Lastname -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [



    ]
  }) }}
{% endblock %}

{% block content %}
 
<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Information sent
        </h1>
      </div> <!-- govuk-panel -->

      <p>We have sent a confirmation email to <b>jasmine.kang@gmail.com</b>
        
        <br>  
        <br>
        
        <p> You can  
        <a href="../scenario4/PH-list-1+1afo.html">
          return to PIP Home</a>

          <p> Or   
            <a href="../scenario4/signed-out.html">
              sign out</a> to keep your information secure. 


      <a href="/e2e/sign-in/sign-in-home-pip-2-continue"> </a>
    </div>
  </div>
</form>
    </div> <!-- govuk-grid-column-two-thirds -->
</div>
{% endblock %}