{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with username -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Help and contact"
      },

      {
        href: "signed-out",
        text: "Sign out"
      }


    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl ">
        Upload evidence to support your PIP claim
      </h1>
      <p class="govuk-body">It's important you provide evidence or information about the impact of any health conditions or disabilities on your daily life, if you can.</p>
      <p class="govuk-body">Uploaded evidence may mean:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>we can make a quicker decision on your claim</li>
        <li>we can make an accurate decision and pay you the right amount</li>
        <li>you may not need to attend an assessment with a health professional</li>
      </ul>
      <p class="govuk-body">You should only upload photos or scanned images of documents you already have. These documents should show how your health condition or disability affects you.</p>
      <p class="govuk-body">Do not request documents you might have to pay for, for example a letter from your GP. If we need this evidence we can ask for it ourselves, as long as we have your permission.</p>

      <form method="post" action="what-to-upload" name="">

        
        <input class="govuk-button " type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}