{% extends "layouts/payability.html" %}
{% block beforeContent %}
{{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
        }) }}
{% endblock %}
{% block content %}
<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="funding-form-check" method="post">


    {% set raw = (data['type-scenario'] or '') | trim %}

    {% if not raw == 'none' %}
      {% set accType = 'accommodation' %}

    <!-- {% elif raw == 'Detention in Legal Custody' %}
      {% set accType = 'place of custody' %} -->

    {% else %}
      {% set accType = 'accommodation' %}
    {% endif %}


    {% set legendText = "Has a completed 3006 evidence form been received?" %}
    {% from "includes/accommodation-form-heading.njk" import accommodationHeading %}
    {% from "includes/accommodation-form-inset.njk" import accommodationInset %}
    {% from "includes/accommodation-form-radios.njk" import accommodationRadios %}

    {{ accommodationHeading(legendText) }}

    {{ accommodationInset("Phoenix Care Home<br>123 Fake Street<br>Blackpool<br>FY1 1NF<br><br>01253 123456<br>contact@phoenixcarehome.co.uk") }}

    {{ accommodationRadios("contactCheck", [
      { value: "Yes", text: "Yes" },
      { value: "No", text: "No, I need to send one" },
      { value: "No", text: "No, I'm waiting for a response" }
    ]) }}

    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
      Continue
    </button>

</form>
{% include "includes/aar-task-list.html" %}




<!-- End row -->
{% endblock %}