{% extends "layouts/payability.html" %}
{% block beforeContent %}
{{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
        }) }}
{% endblock %}

{% block content %}
<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

        {% if (data['type-scenario'] == "Detention in Legal Custody") %}
    <form class="form" action="check-answers" method="post">
{% else %}
      <form class="form" action="/funding-check" method="post">
         {% endif %}

     
      



      <fieldset class="govuk-fieldset">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Enter the contact details?
          </label>
        </h1> 
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="primary-contact">
            Name 
          </label>
          <input class="govuk-input" id="primary-contact" name="primary-contact" type="text" autocomplete="primary-contact">
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input" id="email" name="email" type="text" autocomplete="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="phone-number">
            Phone number
          </label>
          <input class="govuk-input" id="phone-number" name="phone-number" type="text" autocomplete="phone-number">
        </div>



        <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Continue
        </button>

      </fieldset>

      
</form>

<!-- End row -->
{% endblock %}