{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<!-- displaying dates -->
{% set dateIn = (data['date-in-day'] or '') ~ ' ' ~ (data['date-in-month'] or '') ~ ' ' ~ (data['date-in-year'] or '') %}
{% set dateOut = (data['date-out-day'] or '') ~ ' ' ~ (data['date-out-month'] or '') ~ ' ' ~ (data['date-out-year'] or '') %}

{# Helper booleans to avoid showing empty spaced strings #}
{% set hasDateIn = data['date-in-day'] and data['date-in-month'] and data['date-in-year'] %}
{% set hasDateOut = data['date-out-day'] and data['date-out-month'] and data['date-out-year'] %}

{# Start rows #}
{% set summaryRows = [] %}

<!-- type of stay -->
{% if data['type-scenario'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Type of stay" },
    value: { text: data['type-scenario'] },
    actions: {
      items: [{
        href: "type",
        text: "Change",
        visuallyHiddenText: "type of stay"
      }]
    }
  }]) %}
{% endif %}

<!-- similar institution to hospital -->
{% if data['similar-institution'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Treated as a Hospital" },
    value: { text: data['boarder-scenario'] },
    actions: {
      items: [{
        href: "similar-institution",
        text: "Change",
        visuallyHiddenText: "Treated as a Hospital"
      }]
    }
  }]) %}
{% endif %}

<!-- entry date -->
{% if hasDateIn %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Date of entry" },
    value: { text: dateIn },
    actions: {
      items: [{
        href: "date",
        text: "Change",
        visuallyHiddenText: "date of entry"
      }]
    }
  }]) %}
{% endif %}

<!-- ongoing stay? -->
{% if data['date-out-check'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Ongoing stay" },
    value: { text: data['date-out-check'] },
    actions: {
      items: [{
        href: "date",
        text: "Change",
        visuallyHiddenText: "ongoing stay"
      }]
    }
  }]) %}
{% endif %}

<!-- end date if no -->
{% if data['date-out-check'] == "No" and hasDateOut %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "End date" },
    value: { text: dateOut },
    actions: {
      items: [{
        href: "date",
        text: "Change",
        visuallyHiddenText: "end date"
      }]
    }
  }]) %}
{% endif %}

<!-- accomodation address -->
{# Guard if any accommodation detail is present. NOTE: Correct key is "address-town", not "accomodation-town". #}
{% if data['accomodation-name'] or data['address-line-1'] or data['address-line-2'] or data['address-town'] or data['address-county'] or data['address-postcode'] %}
  {% set addressHtml = "" %}

  {% if data['accomodation-name'] %}
    {% set addressHtml = addressHtml + data['accomodation-name'] + "<br>" %}
  {% endif %}
  {% if data['address-line-1'] %}
    {% set addressHtml = addressHtml + data['address-line-1'] + "<br>" %}
  {% endif %}
  {% if data['address-line-2'] %}
    {% set addressHtml = addressHtml + data['address-line-2'] + "<br>" %}
  {% endif %}
  {% if data['address-town'] %}
    {% set addressHtml = addressHtml + data['address-town'] + "<br>" %}
  {% endif %}
  {% if data['address-county'] %}
    {% set addressHtml = addressHtml + data['address-county'] + "<br>" %}
  {% endif %}
  {% if data['address-postcode'] %}
    {% set addressHtml = addressHtml + data['address-postcode'] + "<br>" %}
  {% endif %}

  {% set summaryRows = summaryRows.concat([{
    key: { text: (data['type-scenario'] or 'Accommodation') ~ " details" },
    value: { html: addressHtml },
    actions: {
      items: [{
        href: "accomodation-details",
        text: "Change",
        visuallyHiddenText: "accommodation address"
      }]
    }
  }]) %}
{% endif %}

<!-- accomodation contact -->
<!-- {% if data['primary-contact'] or data['accomodation-email'] %}
  {% set contactHtml = (data['primary-contact'] or 'No named contact') ~ "<br>" ~ (data['accomodation-email'] or 'No email address') %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: (data['type-scenario'] or 'Accommodation') ~ " contact" },
    value: { html: contactHtml },
    actions: {
      items: [{
        href: "accomodation-address",
        text: "Change",
        visuallyHiddenText: "accommodation contact"
      }]
    }
  }]) %}
{% endif %} -->

<!-- boarder question -->
{% if data['boarder-scenario'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Long-term stay" },
    value: { text: data['boarder-scenario'] },
    actions: {
      items: [{
        href: "accomodation-boarder",
        text: "Change",
        visuallyHiddenText: "boarder status"
      }]
    }
  }]) %}
{% endif %}



<!-- funding type -->
{% if data['funding-scenario'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Funding type" },
    value: { text: data['funding-scenario'] },
    actions: {
      items: [{
        href: "funding-type",
        text: "Change",
        visuallyHiddenText: "funding type"
      }]
    }
  }]) %}
{% endif %}

<!-- funding address -->
{% if data['funding-address-line-1'] or data['funding-name'] or data['funding-address-line-2'] or data['funding-address-town'] or data['funding-address-county'] or data['funding-address-postcode'] %}
  {% set fundingAddressHtml = "" %}

  {% if data['funding-name'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-name'] + "<br>" %}
  {% endif %}
  {% if data['funding-address-line-1'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-address-line-1'] + "<br>" %}
  {% endif %}
  {% if data['funding-address-line-2'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-address-line-2'] + "<br>" %}
  {% endif %}
  {% if data['funding-address-town'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-address-town'] + "<br>" %}
  {% endif %}
  {% if data['funding-address-county'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-address-county'] + "<br>" %}
  {% endif %}
  {% if data['funding-address-postcode'] %}
    {% set fundingAddressHtml = fundingAddressHtml + data['funding-address-postcode'] + "<br>" %}
  {% endif %}

  {% set summaryRows = summaryRows.concat([{
    key: { text: "Funding address" },
    value: { html: fundingAddressHtml },
    actions: {
      items: [{
        href: "funding-address",
        text: "Change",
        visuallyHiddenText: "funding address"
      }]
    }
  }]) %}
{% endif %}
<!-- funding contact -->
<!-- {% if data['funding-primary-contact'] or data['funding-email'] %}
  {% set fundingContactHtml = (data['funding-primary-contact'] or 'No named contact') ~ "<br>" ~ (data['funding-email'] or 'No email address') %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Funding contact" },
    value: { html: fundingContactHtml },
    actions: {
      items: [{
        href: "funding-contact",
        text: "Change",
        visuallyHiddenText: "funding contact"
      }]
    }
  }]) %}
{% endif %} -->

<!-- agreement to repay -->
{% if data['repayment-scenario'] %}
  {% set summaryRows = summaryRows.concat([{
    key: { text: "Agreement to Repay" },
    value: { text: data['boarder-scenario'] },
    actions: {
      items: [{
        href: "repay",
        text: "Change",
        visuallyHiddenText: "Agreement to Repay"
      }]
    }
  }]) %}
{% endif %}



<!-- page heading and summarylist -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if data['type-scenario'] == "Other" %}
      <h1 class="govuk-heading-xl">Accomodation summary</h1>
    {% else %}
      <h1 class="govuk-heading-xl">{{ (data['type-scenario'] or 'Accommodation') }} summary</h1>
    {% endif %}

    {{ govukSummaryList({
      rows: summaryRows
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "notes"
    }) }}
  </div>
</div>

{% endblock %}