{% extends "layouts/payability.html" %}
{% block beforeContent %}
  {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
      {% if data['type-scenario'] == 'Hospital' %}
      <form class="form" action="accommodation-lookup-name" method="post">
    {% else %}
    <form class="form" action="accommodation-boarder" method="post">
    {% endif %}

      {{ govukDateInput({
          id: "date-out",
          namePrefix: "date-out",
          fieldset: {
            legend: {
              text: "When did the claimant leave the temporary accommodation?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }
        }) }}



      {{ govukButton({
        text: "Continue"
      }) }}


    </form>
  </div>
</div>

<!-- End row -->
{% endblock %}


