{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<form action="age" method="post" autocomplete="off" novalidate="" class="casa-journey-form">
  <input type="hidden" name="_csrf" value="bf185f95db4ed9f64c11761b6d957c2d1f8d52376671f8546ec0490c907e48cd7e832407bef7517898dfb80c717807ced82b05b21a7ffaafe74c2fb391e6a9c81f401ea046bfe176adf444483c03bec4e131a365bc54c6331f8c0a1af302053bc09c42107ffe462fce4e136c988bc36a51d78849c83436c924c078d0eb8199b5">
  
  
  

  
  
    

  <h1 class="govuk-heading-xl">
    Check if you're eligible for PIP
  </h1>

  <p class="govuk-body">
    Answer a few questions to find out if you may be eligible for PIP.
  </p>

  <p class="govuk-body">
    You can also check if you can claim online. This is a new online service which we are testing with a limited number of people.
  </p>

  <p class="govuk-body">
    If you're helping someone else, answer the questions as if you're them.
  </p>

  

  <div class="govuk-inset-text">
  <p class="govuk-body">
        If you might have 12 months or less to live there is a different way to claim. This is so you can get PIP more quickly.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/pip/claiming-end-of-life" class="govuk-link">Find out how to claim if you have 12 months or less to live</a>.
      </p>
</div>


  

 <p class="govuk-body">
    If you’ve done any part of a PIP claim online before you can
    <a href="returning-email" class="govuk-link">sign in</a>.
  </p>


    
  

  
    <div class="govuk-button-group casa-form-control-block">
      
  
    
  

<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button" data-govuk-button-init="">
  Continue
</button>


      
    </div>
  
</form>
<!-- End row -->
{% endblock %}