{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/ol/ol-landing" method="post">
      {{ govukNotificationBanner({
        text: "GOV.UK One Login is the new way to sign in to some government services."
      }) }}
      <h1 class="govuk-heading-xl">How you sign in to PIP has changed</h1>
      <p class="govuk-body">You need a GOV.UK One Login to continue. You'll be able to create a GOV.UK One Login if you do not already have one.</p>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Sign up to GOV.UK One Login with the same email address that you signed in with: {{ data['email'] }}.
        </strong>
      </div>

      <p class="govuk-body">You will continue your PIP claim from where you last saved your progress.</p>

      <p class="govuk-body"></p>

      {{ govukButton({
        text: "Continue to GOV.UK One Login"
      }) }}

    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}