{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/ol/ol-landing" method="post">
      {{ govukNotificationBanner({
        text: "GOV.UK One Login is the new way to sign in to government services."
      }) }}
      <h1 class="govuk-heading-xl">How you sign in to PIP has changed</h1>
      <p class="govuk-body">You need to sign in to PIP with a GOV.UK One Login to continue.  If you do not have a GOV.UK One Login, you will need to create one.</p>

      <p class="govuk-body">From now, you will always use your GOV.UK One Login to sign in to PIP.</p>

      <p class="govuk-body">After you sign in, you will continue your application.</p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You should sign up for GOV.UK One Login using the same email address you signed into PIP with.
        </strong>
      </div>


      <!--
      {{ govukInsetText({
        text: "We'll send any messages about your PIP application to the email address you use for GOV.UK One Login."
      }) }}
        -->

      <p class="govuk-body"></p>

      {{ govukButton({
        text: "Continue to GOV.UK One Login"
      }) }}

    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}