{% extends "layouts/main.html" %}
{% set pageName = "One Login migration prototypes" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">One Login migration prototype</h1>
    <p class="govuk-body">This prototype was created and is maintained by <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133438865442/Team+Phoenix">Team Phoenix</a>.</p>
    <p class="govuk-body">
        {{govukTag({
          text: "Third iteration",
          classes: "govuk-tag--green"
        })}}
    </p>

    <h2 class="govuk-heading-m">Last updated</h2>
    <p class="govuk-body">September 2025</p>
    <h2 class="govuk-heading-m">Date created</h2>
    <p class="govuk-body">July 2025</p>
    <h2 class="govuk-heading-m">What it is</h2>
    <p class="govuk-body">Demonstrates the latest version of the migration of the PIP service from authentication using DWP's Dynamic Trust Hub (DTH) to One Login.  The prototype covers:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>migrating DTH users to One Login</li>
      <li>Signing in and signing up users via One Login</li>
      <li>Post migration future state journeys</li>
      <li>OIDV journeys</li>
    </ul>
     <h2 class="govuk-heading-m">Updates</h2>
     <p class="govuk-body">September 2025:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>Added index page</li>
          <li>Added routing for returning users who enter via the eligibilty checker</li>
          <li>Added OIDV journeys</li>
          <li>Updated DTH migration explanation screen</li>
          <li>Added revised "We cannot sign you in" page</li>
          <li>Updated sign-out page</li>
          <li>Copy amend to "eligibility" screen</li>
          <li>Updated "Help" page heading markup and link to One Login security page</li>
        </ul>
      {{ govukButton({
        text: "Start prototype",
        href: "scenario"
      }) }}
  </div>
  <!-- End column -->
</div>


<!-- End row -->
{% endblock %}