{% extends "layouts/main-email.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="returning-email" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      <p class="govuk-body">Dear Jamie,</p>

        <p class="govuk-body"> We have received the Personal Independence Payment (PIP) application you have started.</p>
        
          <p class="govuk-body">Next, we will ask about your daily living and mobility needs to help us make our decision.</p>
        
            <p class="govuk-body"> If we need more information after you have submitted the application we may invite you to an assessment.</p>
        
            <h2 class="govuk-heading-m">When to complete your application by</h2>
        
        <p class="govuk-body">You will need to answer all the questions and upload any evidence you have by:</p>
        
        <p class="govuk-body">30 September 2025</p>
        
        <h2 class="govuk-heading-m"> If you need more time</h2>
        
        <p class="govuk-body"> Contact us if you need more time to complete this application. Our contract details are at the end of this email.</p>
        
          <p class="govuk-body"> If you have not submitted the application by the return date, and you have not let us know, we may end the PIP application.</p>
        
          <h2 class="govuk-heading-m"> Disability Living Allowance</h2>
        
        <p class="govuk-body">Disability Living Allowance (DLA) is being replaced by PIP. If you are currently receiving DLA this will stop if you do not complete the form by the retutn date or contact us for more time.</p>
        
        <h2 class="govuk-heading-m">How to get started</h2>
      
        <p class="govuk-body">To complete your application online, you need to sign in to PIP with a GOV.UK One Login.  If you do not have a GOV.UK One Login, you will need to create one.</p>

        <p class="govuk-body">You will need your:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>email address and access to your emails</li>
          <li>mobile phone</li>
        </ul>
        
        <p class="govuk-body"> We will guide you through what you need to do at each step.</p>
 
        <p class="govuk-body">To sign in, go to: <a href="returning-email">https://www.apply-for-pip.dwp.gov.uk/home</a></p>
      
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}