{% extends "layouts/main-email.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="returning-email" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      <p class="govuk-body">Dear Jamie,</p>

        <p class="govuk-body"> We have received the Personal Independence Payment (PIP) application you have started.</p>
        
          <p class="govuk-body">Next, we will ask about your daily living and mobility needs to help us make our decision.</p>
        
            <p class="govuk-body"> If we need more information after you have submitted the application we may invite you to an assessment.</p>
        
            <h2 class="govuk-heading-m">When to complete your application by</h2>
        
        <p class="govuk-body">You will need to answer all the questions and upload any evidence you have by:</p>
        
        <p class="govuk-body">30 September 2025</p>
        
        <h2 class="govuk-heading-s"> If you need more time</h2>
        
        <p class="govuk-body"> Contact us if you need more time to complete this application. Our contract details are at the end of this email.</p>
        
          <p class="govuk-body"> If you have not submitted the application by the return date, and you have not let us know, we may end the PIP application.</p>
        
          <h2 class="govuk-heading-s"> Disability Living Allowance</h2>
        
        <p class="govuk-body">Disability Living Allowance (DLA) is being replaced by PIP. If you are currently receiving DLA this will stop if you do not complete the form by the retutn date or contact us for more time.</p>
        
        <!-- Start-->
        <h2 class="govuk-heading-m">How to get started</h2>
      
        <p class="govuk-body">You will need a GOV.UK One Login to use this service. You will use this to log in to your account in the future <br> <br> If you do not have a GOV.UK One Login, you will be asked to create one when you start your PIP application.</p>

        <p class="govuk-body">To create your GOV.UK One Login, go to: <a href="returning-email">https://www.apply-for-pip.dwp.gov.uk/</a> <br> <br> You will need your:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>email address and access to your emails</li>
          <li>mobile phone, tablet or desktop computer</li>
        </ul>
        
        <h2 class="govuk-heading-m">Help and support </h2>

        <p class="govuk-body"> There is information at each step of the online service to help you. <br>You can download our PDF guide to complete the form once you have registered.
          <br><br>If you change your mind and would prefer to complete a paper form instead, contact us so we can post it to you. 
          <br>Changes you need to tell us about
          <br><br>You must tell us about any changes to your circumstances by post or telephone.
          <br><br>You can find out more about the types of changes that we need to know about by visiting <a>https://www.gov.uk/pip/change-of-circumstances.</a> </p>
          </p> 
          <h2 class="govuk-heading-m"> How to contact us</h2>         
          
        <p class="govuk-body">You can contact us by: 
          <ul class="govuk-list govuk-list--bullet"> 
            <li>Telephone: 0800 121 4433</li>
            <li>Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 4433 <br><a>https://www.relayuk.bt.com</a></li>
            <li>Video relay service for British Sign Language (BSL) users: <br>https://connect.interpreterslive.co.uk/vrs?ilc=DWP</li>
            <li>Check you can use the video relay service:<br>
            <a>https://www.youtube.com/watch?v=oELNMfAvDxw</a></li>
         </ul>
        </p>

        <p class="govuk-heading-s">Other ways to communicate with us</p>
        <p class="govuk-body">
          If you need braille, British Sign Language, a hearing loop, translations, large print, Easy Read, audio, or something else, please contact us.
          <br>If you use Relay UK dial 18001 followed by our telephone number</p>
          
        <p class="govuk-heading-s">Treating people fairly</p>

        <p class="govuk-body">
          We are committed to the Equality Act 2010 and treating people fairly. To find out more about this law, search 'Equality Act' on www.gov.uk
          </p>
          
        <p class="govuk-heading-s"> Call charges</p> 
        <p>Calls to 0800 numbers are free from personal mobiles and landlines.</p>

        <p class="govuk-heading-s">Why DWP needs personal information and how we treat it</p> 
        <p>We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our DWP Personal Information Charter at www.gov.uk/dwp/personal-information-charter</p>
        
        <p class="govuk-heading-s">Why DWP needs personal information and how we treat it</p> 
        <p>We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our DWP Personal Information Charter at www.gov.uk/dwp/personal-information-charter</p>
          
        
        <p class="govuk-body">Please do not reply to this message. DWP will never ask you to send any usernames, passwords, personal, health, medical or bank account information by email. Any email sent in response will be deleted without being read.</p>
        
        <p class="govuk-body">You must tell us about any changes that may affect your circumstances by post or telephone.</p>
        <p>If you have received this email in error, please contact us on 0800 121 6279 and then permanently delete what you have received. If you are not the intended recipient, any disclosure, copying, distribution or other action taken in regard to the information contained in this e-mail is strictly prohibited.</p>
        <hr class="govuk-section-break govuk-section-break--visible">
        <p>
          <br> Sending emails over the internet isn’t always secure. We automatically scan the emails we send to check there are no viruses, but DWP isn’t responsible for anything that happens after it’s been sent to the email address you have provided. If we ever send you an email that’s meant for someone else, you shouldn’t use, share or copy anything in the email. Please let us know you’ve received the email in error and delete it as soon as possible.  
          </p>
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}