{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="returning-email" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      <h1 class="govuk-heading-xl">INVITE EMAIL GOES HERE</h1>

      <!--
      {{ govukInsetText({
        text: "We will send any messages about your PIP application to the email address you use for GOV.UK One Login."
      }) }}
        -->
     

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}