{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "test-signout",
    oneLoginLink: "test-one-login",
    rebrand: true,
    serviceNavigationParams: { 
      rebrand: true,
      navigation: [
      {
        href: "pip-home-oidv", 
        text: "Home",
        active: true
      },{
        href: "help", 
        text: "Help"
      }], 
      serviceName: "Apply for Personal Independence Payment (PIP)",
      navigationLabel: "Apply for Personal Independence Payment (PIP)"
    }
  }) }}
  <!--{% include "includes/scenario.njk" %}-->
{% endblock %}

      {% block beforeContent %}

            {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
            {{
                dwpLanguageToggle({
                    selectedLang: "en",
                    href: {
                        en: "#",
                        cy: "#"
                    }
                })
            }}
        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

        {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
        }) }}
      {% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if (data['logInScenario'] == "OIDV successful") %}

        <form method="post" action="identity-confirmed" name="">
        {% else %}
        <form method="post" action="oidv-alternative-method" name="">
        {% endif %}

        <h1 class="govuk-heading-l ">
       Prove your identity with GOV.UK One Login
        </h1>


        <p class="govuk-body">
          You need to prove your identity with GOV.UK One Login to finish your application.
        </p>

        <h2 class="govuk-heading-m">
          How to prove your identity
        </h2>

        <p class="govuk-body">
          GOV.UK One Login will ask you questions to find the best way for you to prove your identity.
        </p>

        <p class="govuk-body">
          You may be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>prove your identity online with accepted photo ID</li>
          <li>answer security questions online</li>
          <li>verify your ID at the Post Office</li>
        </ul>

        <h3 class="govuk-heading-s">You will need:</h3>

<ul class="govuk-list govuk-list--bullet">
                        <li>
                          a valid photo ID such as a passport or driving licence
                        </li>
                         or
                         <li>
                        your bank and building society details
                        </li>
                      </ul>

        <input class="govuk-button " type="submit" value="Continue">

      </form>

    </div>
</div>
<!-- End row -->
{% endblock %}