{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/banner.njk" %}
    <form class="form" action="/oidvScenario" method="post">
      
      {{ govukRadios({
        name: "oidvScenario",
        fieldset: {
          legend: {
            text: "Select where to start the OIDV journey",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "PIP Home",
            text: "PIP Home"
          },
          {
            value: "HIG submitted confirmation screen",
            text: "HIG submitted confirmation screen"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }} 
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}