{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "test-signout",
    oneLoginLink: "test-one-login",
    rebrand: true,
    serviceNavigationParams: { 
      rebrand: true,
      navigation: [
      {
        href: "pip-home-oidv", 
        text: "Home",
        active: true
      },{
        href: "help", 
        text: "Help"
      }], 
      serviceName: "Apply for Personal Independence Payment (PIP)",
      navigationLabel: "Apply for Personal Independence Payment (PIP)"
    }
  }) }}
  <!--{% include "includes/scenario.njk" %}-->
{% endblock %}

      {% block beforeContent %}

            {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
            {{
                dwpLanguageToggle({
                    selectedLang: "en",
                    href: {
                        en: "#",
                        cy: "#"
                    }
                })
            }}
        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

        {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
        }) }}
      {% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="ol-oidv" name="">

        <h1 class="govuk-heading-xl ">
       Prove your identity with a GOV.UK One Login
        </h1>


        <p class="govuk-body">
          You need to prove your identity with GOV.UK One Login to finish your application.
        </p>

        <p class="govuk-body">
          This means you will not need to prove your identity again next time a GOV.UK One Login service needs to check who you are.
        </p>

        <p class="govuk-body">
          You can prove your identity online if you have a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>UK passport</li>
          <li>driving licence</li>
          <li>other form of accepted photo ID</li>
        </ul>

        <p class="govuk-body">
          You can prove your identity at a Post Office if you have a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>EU driving licence</li>
          <li>non-UK passport</li>
        </ul>

        <input class="govuk-button " type="submit" value="Continue">

      </form>

    </div>
</div>
<!-- End row -->
{% endblock %}