{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "/test-signout",
    oneLoginLink: "/test-one-login",
    rebrand: true,
    serviceNavigationParams: { 
      rebrand: true, 
      serviceName: "Apply for Personal Independence Payment (PIP)",
      navigationLabel: "Apply for Personal Independence Payment (PIP)"
    }
  }) }}
  <!--{% include "includes/scenario.njk" %}-->
{% endblock %}


{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      {% from "language-toggle/macro.njk" import dwpLanguageToggle %}

      {{
          dwpLanguageToggle({
              selectedLang: "en",
              href: {
                  en: "#",
                  cy: "#"
              }
          })
      }}
        <!-- <div class="govuk-width-container">
            <main class="govuk-main-wrapper"> -->
              <!-- <div class="govuk-grid-row"> -->
    <!--<h1 class="govuk-caption-xl">Firstname Lastname</h1>-->
    
  </div>
</div>
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/ol/age" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"> GOV.UK One Login could not confirm your identity</h1>
      <p class="govuk-body">We cannot assess your application until you confirm your identity.</p>
      <p class="govuk-body">Contact the PIP enquiry line to confirm your identity in a different way.</p>
      <p class="govuk-body">If you think you have entered the wrong information by mistake, <a href="pip-home-oidv">return to PIP Home</a> to try again.</p>
      <h2 class="govuk-heading-m">Contact the PIP enquiry line </h2>
      <ul class="govuk-list">
        <li>Phone: 0800 121 4433</li>
        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>

  </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}