{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

   <!-- One login change password screen -->
    {% if (data['logInScenario'] == "Returning DTH user") %}
    <form class="form" action="pip-home-alt" method="post">
  
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="email">
          Enter your password to sign in to your GOV.UK One Login
        </label>
      </h1>
    
    
      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Password"
        },
        id: "password-input",
        name: "password"
      }) }}
    
    
    
        
      
    
    <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="" style="margin-top: 1rem;" href="pip-home">
      Continue
    </button>

    </form>
    {% else %}
     <!--One login header-->
    <form class="form" action="pip-home" method="post">
  
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="email">
          Enter your password to sign in to your GOV.UK One Login
        </label>
      </h1>
    
    
      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Password"
        },
        id: "password-input",
        name: "password"
      }) }}
        
    
    
    
        
      
    
    <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="" style="margin-top: 1rem;" href="pip-home">
      Continue
    </button>

    </form>
    {% endif %}

  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}