{% extends "layouts/main-gov.html" %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

   <!-- One login change password screen -->

    <form class="form" action="/ol-password" method="post">
  
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="email">
          Enter your password
        </label>
      </h1>
    
    
      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Password"
        },
        id: "password-input",
        name: "password"
      }) }}
    
    
    
        
      
    
    <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="" style="margin-top: 1rem;" href="pip-home">
      Continue
    </button>



    </form>

    <p class="govuk-body">
      <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">I’ve forgotten my password</a>
  </p>

  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}