{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="ol-email" method="post">
      <h1 class="govuk-heading-l">Create your password</h1>
      <div id="password-hint" class="govuk-hint">
        It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers.
      </div>
      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Password"
        },
        id: "password-input",
        name: "password"
      }) }}{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Password"
        },
        id: "password-input",
        name: "password"
      }) }}
    

      

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to create a secure password
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
              <p class="govuk-body">You should use a password that you do not use for anything else.</p>
            </div>
          </details>
          
      
      
        <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Continue
        </button>
    
    
  </div></form>
</div>

      </div>
<!-- End row -->
{% endblock %}