{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    
<div class="gem-c-heading govuk-!-margin-bottom-8">

  <h1 class="gem-c-heading__text govuk-heading-xl">
    Personal Independence Payment (PIP)
</h1>
</div>


</nav>
      </aside>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">
        
<div class="gem-c-heading govuk-!-margin-bottom-6">

  <h1 class="gem-c-heading__text govuk-heading-l">
    How to claim
</h1>
</div>
      <div data-module="govspeak" class="gem-c-govspeak govuk-govspeak gem-c-govspeak--direction-ltr js-disable-youtube govuk-!-margin-bottom-0" data-govspeak-module-started="true">
    
        <p>Before you apply for Personal Independence Payment (PIP), check if you’re eligible.</p>

<p>If you live in:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Northern Ireland - find out how to claim if you live in Northern Ireland
</li>
  <li>Scotland - you need to apply for Adult Disability Payment (ADP) instead</li>
</ul>

<p>There’s a different way to claim if you’re nearing the end of life (for example, due to a life-limiting illness).</p>

<h2 id="start-your-claim-by-phone" class="govuk-heading-m">Start your claim by phone</h2>

<p>You need to:</p>

<ol class="steps">
  <li>
    <p>Call the ‘PIP new claims’ phone line. You’ll then be sent a form that asks about your condition.</p>
  </li>
  <li>
    <p>Complete and return the form. The address is on the form.</p>
  </li>
  <li>
    <p>You might need to have an assessment, if more information is needed.</p>
  </li>
</ol>

<h3 id="if-you-need-someone-to-help-you" class="govuk-heading-s">If you need someone to help you</h3>

<p>You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>ask for them to be added to your call - you cannot do this if you use textphone</li>
  <li>ask someone else to call on your behalf - you’ll need to be with them when they call</li>
</ul>

<h3 id="before-you-start" class="govuk-heading-s">Before you start</h3>

<p>You’ll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your contact details, for example telephone number</li>
  <li>your date of birth</li>
  <li>your National Insurance number, if you have one (you can find this on letters about tax, pensions and benefits)</li>
  <li>your bank or building society account number and sort code</li>
  <li>your doctor or health worker’s name, address and telephone number</li>
  <li>dates and addresses for any time you’ve spent in a care home or hospital</li>
  <li>dates for any time you spent abroad for more than 4 weeks at a time, and the countries you visited</li>
</ul>

<h3 id="pip-new-claims-phone-line" class="govuk-heading-s">PIP new claims phone line</h3>

<div class="contact">
<p>Telephone: 0800 917 2222<br>
Textphone: 0800 917 7777<br>
Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
British Sign Language (BSL) video relay service if you’re on a computer - find out how to use the service on mobile or tablet<br>
Calling from abroad: +44 191 218 7766 <br>
Monday to Friday, 8am to 5pm<br>
</p>
</div>

<h2 id="start-your-claim-by-post" class="govuk-heading-m">Start your claim by post</h2>

<p>You can start a claim by post instead, but it takes longer to get a decision.</p>

<p>Send a letter to this freepost address:</p>
<div class="address"><div class="adr org fn"><p>
Freepost DWP PIP 1
</p></div></div>

<p>Do not write anything except the freepost address on the envelope. You do not need a postcode or a stamp.</p>

<p>You’ll be sent a form asking for your personal information, such as your address and your age. Fill in and return the form.</p>

<p>You’ll then be sent a form which asks about your disability or condition.</p>

<h2 id="completing-and-returning-the-form-about-your-condition" class="govuk-heading-m">Completing and returning the form about your condition</h2>

<p>If you apply by phone or post, you’ll usually get a form called ‘How your disability affects you’ within 2 weeks.</p>

<p>Fill in the form using the guidance that comes with it, and return it to the address on the form.</p>

<p>Include supporting documents if you have them - for example, prescription lists, care plans, or information from your doctor or others involved in your care.</p>

<p>You have 1 month to return it. Contact the PIP enquiry line if you need more time or have questions.</p>

<p>You can read Citizens Advice’s help on filling in the form.</p>

<h2 id="check-if-you-can-apply-online govuk-heading-m" class="govuk-heading-m">Check if you can apply online</h2>

<p>You can only apply for PIP online in some areas. You’ll need to check your postcode when you start your application.</p>

<p>To start your claim online you’ll need your:</p>

<ul>
  <li>
    <p>National Insurance number</p>
  </li>
  <li>
    <p>email address</p>
  </li>
  <li>
    <p>mobile phone</p>
  </li>
</ul>

<p><a class="gem-c-button govuk-button govuk-button--start" role="button" data-module="govuk-button" data-ga4-attributes="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;start button&quot;}" draggable="false" href="checker" data-govuk-button-init="" data-govuk-button-module-started="true"><span> Check if you can apply for PIP online </span><svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a></p>
{% if (data['logInScenario'] == "Returning One Login user after migration") and (data['protoVariant'] == "A")  %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="non-dth-explainer">sign in to PIP</a>.</p>
</div>
{% elif (data['logInScenario'] == "Returning One Login user after migration") and (data['protoVariant'] == "B")  %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="ol-landing">sign in to PIP</a>.</p>
</div>
{% else %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="returning-email">sign in to PIP</a>.</p>
</div>
{% endif %}



</div>
  </div>

</div>
<!-- End row -->
{% endblock %}