{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    
<div class="gem-c-heading govuk-!-margin-bottom-8">

  <h1 class="gem-c-heading__text govuk-heading-xl">
    Personal Independence Payment (PIP)
</h1>
</div>
      <a data-module="govuk-skip-link" class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" href="#guide-contents" data-govuk-skip-link-init="" data-govuk-skip-link-module-started="true">Skip contents</a>

      <aside class="part-navigation-container" role="complementary">
          <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
    <h2 class="gem-c-contents-list__title govuk-heading-m">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:1}" href="/pip">What PIP is for</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:2}" href="/pip/eligibility">Eligibility</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:3}" href="/pip/how-much-youll-get">How much you’ll get</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active govuk-link" aria-current="true">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          How to claim
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:5}" href="/pip/after-youve-applied">After you've applied</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:6}" href="/pip/when-your-pip-claim-is-reviewed">If your PIP claim is reviewed</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:7}" href="/pip/change-of-circumstances">Report a change to your needs or circumstances</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
          <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:8}" href="/pip/claiming-end-of-life">Claiming PIP if you’re nearing the end of life</a>
        </li>
    </ol>
</nav>
      </aside>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">
        
<div class="gem-c-heading govuk-!-margin-bottom-6">

  <h1 class="gem-c-heading__text govuk-heading-l">
    How to claim
</h1>
</div>
      <div data-module="govspeak" class="gem-c-govspeak govuk-govspeak gem-c-govspeak--direction-ltr js-disable-youtube govuk-!-margin-bottom-0" data-govspeak-module-started="true">
    
        <p>Before you apply for Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>), <a href="/pip/eligibility">check if you’re eligible</a>.</p>

<p>If you live in:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Northern Ireland - find out <a rel="external" href="https://www.nidirect.gov.uk/articles/personal-independence-payment">how to claim if you live in Northern Ireland</a>
</li>
  <li>Scotland - you need to <a rel="external" href="https://www.mygov.scot/adult-disability-payment">apply for Adult Disability Payment (<abbr title="Adult Disability Payment">ADP</abbr>)</a> instead</li>
</ul>

<p>There’s a <a href="/pip/claiming-end-of-life">different way to claim if you’re nearing the end of life</a> (for example, due to a life-limiting illness).</p>

<h2 id="start-your-claim-by-phone" class="govuk-heading-m">Start your claim by phone</h2>

<p>You need to:</p>

<ol class="steps">
  <li>
    <p>Call the ‘<abbr title="Personal Independence Payment">PIP</abbr> new claims’ phone line. You’ll then be sent a form that asks about your condition.</p>
  </li>
  <li>
    <p>Complete and return the form. The address is on the form.</p>
  </li>
  <li>
    <p>You might need to have an assessment, if more information is needed.</p>
  </li>
</ol>

<h3 id="if-you-need-someone-to-help-you" class="govuk-heading-s">If you need someone to help you</h3>

<p>You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>ask for them to be added to your call - you cannot do this if you use textphone</li>
  <li>ask someone else to call on your behalf - you’ll need to be with them when they call</li>
</ul>

<h3 id="before-you-start" class="govuk-heading-s">Before you start</h3>

<p>You’ll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your contact details, for example telephone number</li>
  <li>your date of birth</li>
  <li>your National Insurance number, if you have one (you can find this on letters about tax, pensions and benefits)</li>
  <li>your bank or building society account number and sort code</li>
  <li>your doctor or health worker’s name, address and telephone number</li>
  <li>dates and addresses for any time you’ve spent in a care home or hospital</li>
  <li>dates for any time you spent abroad for more than 4 weeks at a time, and the countries you visited</li>
</ul>

<h3 id="pip-new-claims-phone-line" class="govuk-heading-s">
<abbr title="Personal Independence Payment">PIP</abbr> new claims phone line</h3>

<div class="contact">
<p>Telephone: 0800 917 2222<br>
Textphone: 0800 917 7777<br>
<a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
British Sign Language (BSL) <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">use the service on mobile or tablet</a><br>
Calling from abroad: +44 191 218 7766 <br>
Monday to Friday, 8am to 5pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<h2 id="start-your-claim-by-post" class="govuk-heading-m">Start your claim by post</h2>

<p>You can start a claim by post instead, but it takes longer to get a decision.</p>

<p>Send a letter to this freepost address:</p>
<div class="address"><div class="adr org fn"><p>
Freepost <abbr title="Department for Work and Pensions">DWP</abbr> <abbr title="Personal Independence Payment">PIP</abbr> 1
</p></div></div>

<p>Do not write anything except the freepost address on the envelope. You do not need a postcode or a stamp.</p>

<p>You’ll be sent a form asking for your personal information, such as your address and your age. Fill in and return the form.</p>

<p>You’ll then be sent a form which asks about your disability or condition.</p>

<h2 id="completing-and-returning-the-form-about-your-condition" class="govuk-heading-m">Completing and returning the form about your condition</h2>

<p>If you apply by phone or post, you’ll usually get a form called ‘How your disability affects you’ within 2 weeks.</p>

<p>Fill in the form using the guidance that comes with it, and return it to the address on the form.</p>

<p>Include supporting documents if you have them - for example, prescription lists, care plans, or information from your doctor or others involved in your care.</p>

<p>You have 1 month to return it. <a href="/disability-benefits-helpline">Contact the <abbr title="Personal Independence Payment">PIP</abbr> enquiry line</a> if you need more time or have questions.</p>

<p>You can read Citizens Advice’s <a rel="external" href="https://www.citizensadvice.org.uk/benefits/sick-or-disabled-people-and-carers/pip/help-with-your-claim/fill-in-form/">help on filling in the form</a>.</p>

<h2 id="check-if-you-can-apply-online govuk-heading-m" class="govuk-heading-m">Check if you can apply online</h2>

<p>You can only apply for <abbr title="Personal Independence Payment">PIP</abbr> online in some areas. You’ll need to check your postcode when you start your application.</p>

<p>To start your claim online you’ll need your:</p>

<ul>
  <li>
    <p>National Insurance number</p>
  </li>
  <li>
    <p>email address</p>
  </li>
  <li>
    <p>mobile phone</p>
  </li>
</ul>

<p><a class="gem-c-button govuk-button govuk-button--start" role="button" data-module="govuk-button" data-ga4-attributes="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;start button&quot;}" draggable="false" href="checker" data-govuk-button-init="" data-govuk-button-module-started="true"><span> Check if you can apply for <abbr title="Personal Independence Payment">PIP</abbr> online </span><svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a></p>
{% if (data['logInScenario'] == "Returning One Login user after migration") and (data['protoVariant'] == "A")  %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="non-dth-explainer">sign in to PIP</a>.</p>
</div>
{% elif (data['logInScenario'] == "Returning One Login user after migration") and (data['protoVariant'] == "B")  %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="ol-landing">sign in to PIP</a>.</p>
</div>
{% else %}
<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you’ve already registered, you can <a rel="external" href="returning-email">sign in to PIP</a>.</p>
</div>
{% endif %}



</div>
          <nav data-module="ga4-link-tracker" aria-label="Pagination" class="govuk-pagination govuk-pagination--block" data-ga4-link-tracker-module-started="true">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/pip/how-much-youll-get" rel="prev" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;previous and next&quot;,&quot;text&quot;:&quot;How much you’ll get&quot;,&quot;section&quot;:&quot;Previous&quot;}">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">How much you’ll get</span>
        </a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/pip/after-youve-applied" rel="next" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;previous and next&quot;,&quot;text&quot;:&quot;After you've applied&quot;,&quot;section&quot;:&quot;Next&quot;}">
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">After you've applied</span>
        </a>
      </div>
</nav>

        <div class="responsive-bottom-margin">
          <a href="/pip/print" class="govuk-link govuk-link--no-visited-state govuk-body" data-module="ga4-link-tracker" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;section&quot;:&quot;Footer&quot;,&quot;text&quot;:&quot;View a printable version of the whole guide&quot;}" data-ga4-link-tracker-module-started="true">
            View a printable version of the whole guide
          </a>
        </div>
  </div>

  
<div class="govuk-grid-column-one-third">
  
<div class="gem-c-contextual-sidebar govuk-!-display-none-print">

      <div data-module="ga4-link-tracker" class="gem-c-related-navigation govuk-!-display-none-print" data-ga4-link-tracker-module-started="true">
      <h2 id="related-nav-related_items-3b648285" class="gem-c-related-navigation__main-heading">
        Related content
      </h2>



      <nav class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-3b648285" data-module="gem-toggle" data-gem-toggle-module-started="true">


  <ul class="gem-c-related-navigation__link-list">
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;8&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;8&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;8&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/attendance-allowance">Attendance Allowance</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;8&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/financial-help-disabled">Financial help if you're disabled</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--inline  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;5&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;8&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/going-to-care-home-benefits">Going into a care home if you get benefits</a></li>

  </ul>
</nav>

</div>


</div>
</div>

</div>
<!-- End row -->
{% endblock %}