{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "test-signout",
    oneLoginLink: "test-one-login",
    rebrand: true,
    serviceNavigationParams: { 
      rebrand: true,
      navigation: [
      {
        href: "pip-home", 
        text: "Home",
        active: true
      },{
        href: "help", 
        text: "Help"
      }], 
      serviceName: "Apply for Personal Independence Payment (PIP)",
      navigationLabel: "Help and support"
    }
  }) }}
  <!--{% include "includes/scenario.njk" %}-->
{% endblock %}


{% block content %}

      <!--Start row-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% from "language-toggle/macro.njk" import dwpLanguageToggle %}

            {{
                dwpLanguageToggle({
                    selectedLang: "en",
                    href: {
                        en: "#",
                        cy: "#"
                    }
                })
            }}

        </div>
      </div>
      <!-- End row -->
      
      <!-- Start row -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {% if (data['logInScenario'] == 'Email updated') %}
              {% set html %}
                <h3 class="govuk-notification-banner__heading">
                  You have changed your GOV.UK One Login email address
                </h3>
                <p class="govuk-body">We will write to <strong>jamie@gmail.com</strong> when we need to contact you about your PIP application.</p>
              {% endset %}

              {{ govukNotificationBanner({
                html: html,
                titleText: "Email address changed",
                type: "success"
              }) }}
            {% endif %}
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">PIP Home</h1>
          </div>
        </div>
          <!-- Start cards -->
        <div class="govuk-grid-row">
          <ul class="nhsuk-grid-row nhsuk-card-group">
            {% include "includes/pip1-start.njk" %}
          </ul>
        </div>
          <!-- End cards -->


{% endblock %}