{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "test-signout",
    oneLoginLink: "test-one-login",
    rebrand: true,
    serviceNavigationParams: { 
      rebrand: true,
      navigation: [
      {
        href: "pip-home", 
        text: "Home",
        active: true
      },{
        href: "help", 
        text: "Help"
      }], 
      serviceName: "Apply for Personal Independence Payment (PIP)",
      navigationLabel: "Help and support"
    }
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% from "language-toggle/macro.njk" import dwpLanguageToggle %}

          {{
              dwpLanguageToggle({
                  selectedLang: "en",
                  href: {
                      en: "#",
                      cy: "#"
                  }
              })
          }}
            <!-- <div class="govuk-width-container">
                <main class="govuk-main-wrapper"> -->
                  <!-- <div class="govuk-grid-row"> -->
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">PIP Home</h1>
    
      
 

        <br>
        <h3 class="govuk-heading-s">Your identity has been confirmed and your application has been submitted.</h3>
        <!-- <br>
        <br>

 <hr class="govuk-section-break govuk-section-break--visible"> -->

      
        <hr class="govuk-section-break govuk-section-break--visible">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        <!-- H2 heading -->

        <br>

      <h3 class="govuk-heading-m">What happens next</h3>
      
      <p class="govuk-body">Your application will be reviewed and we will contact you.</p>
      

      <!-- <li class="nhsuk-grid-column-one-half nhsuk-card-group__item"> -->
      
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Upload supporting evidence</a>
              <!--../e2e/additional-supporting-evidence/supporting-evidence-->
            </h2>
            <p class="nhsuk-card__description">Add documents such as recent medical letters. Even if you have uploaded evidence already, you can still add more.</p>
    
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
              <circle cx="13.333" cy="13.333" r="13.333" fill="" />
              <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                <path d="M15.438 13l-3.771 3.771" />
                <path data-name="Path" d="M11.667 9.229L15.438 13" />
              </g>
            </svg>
    
          </div>
        </div>
    
      </li>

      <!-- <img src="/public/images/card2n.png" alt="Description" style="width: 100%; height: auto;"/> -->
      

      <!-- Paragraph section -->
      
      
      <!-- Link to other content -->
      <p class="govuk-body">
        <!-- <a href="#" class="govuk-link">Start your application</a> -->
      </p>
    </div>
    </div>
        </div>
  </div>

{% endblock %}