{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/returningEmail" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Your email address",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "We will use your email address to check if you have a PIP account."
        },
        id: "email",
        name: "email"
      }) }} 

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}