{% extends "layouts/main.html" %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Prototype index",
      href: "../index"
    },
    {
      text: "One Login",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/banner.njk" %}
    <form class="form" action="/logInScenario" method="post">

      {{ govukRadios({
        name: "logInScenario",
        fieldset: {
          legend: {
            text: "One Login migration: select a scenario",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Returning DTH user",
            text: "Migrating DTH user"
          },
          
          {
            value: "Unmatched NINO",
            text: "Migrating DTH user (unmatched on NINO)"
          },
          {
            value: "Unmatched email",
            text: "DTH Migration journey 1"
          },
          {
            value: "Invited digital user",
            text: "New invited digital user: sign up via One Login"
          },
          {
            value: "New One Login user during migration",
            text: "New self-serve user: sign up via One Login"
          },
          {
            value: "Returning One Login user during migration",
            text: "Returning self-serve user: sign in via One Login"
          },
          {
            value: "OIDV successful",
            text: "OIDV: journey A"
          },
          {
            value: "OIDV failed",
            text: "OIDV: journey B"
          },
          {
            value: "Not registered",
            text: "User is not registered with PIP"
          }, {
            value: "Post migration journey",
            text: "Post-migration future state"
          }
        ]
      }) }}

      <!--DTH Migration journey 1 = Migrating DTH user (unmatched email)-->
       <!--         {
            value: "Unmatched email",
            text: "Migrating DTH user (unmatched on email)"
          },-->
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="unmoderated" class="govuk-link--no-visited-state">Custom scenario for unmoderated testing</a></p>
      {{ govukButton({
        text: "Continue"
      }) }} 
    </form>
  </div>
</div>

{% if not (data['protoVariant'] == "B: condensed" ) %}
{% endif %}

<!-- End row -->
{% endblock %}