{% extends "layouts/main.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/banner.njk" %}
    <form class="form" action="/logInScenario" method="post">

      {{ govukRadios({
        name: "logInScenario",
        fieldset: {
          legend: {
            text: "Select a scenario to simulate",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Returning DTH user",
            text: "Migrating DTH user"
          },
          
          {
            value: "Unmatched NINO",
            text: "Migrating DTH user (unmatched on NINO)"
          },          {
            value: "Unmatched email",
            text: "Migrating DTH user (unmatched on email)"
          },
          {
            value: "Invited digital user",
            text: "New invited digital user: sign up via One Login"
          },
          {
            value: "New One Login user during migration",
            text: "New self-serve user: sign up via One Login"
          },
          {
            value: "Returning One Login user during migration",
            text: "Returning self-serve user: sign in via One Login"
          },
          {
            value: "OIDV successful",
            text: "OIDV: successful journey"
          },
          {
            value: "OIDV failed",
            text: "OIDV: unsuccessful journey"
          },
          {
            value: "Not registered",
            text: "User is not registered with PIP"
          }, {
            value: "Post migration journey",
            text: "Post-migration future state"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }} 
    </form>
  </div>
</div>

{% if not (data['protoVariant'] == "B: condensed" ) %}
{% endif %}

<!-- End row -->
{% endblock %}