{% extends "layouts/main.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      {% from "language-toggle/macro.njk" import dwpLanguageToggle %}

      {{
          dwpLanguageToggle({
              selectedLang: "en",
              href: {
                  en: "#",
                  cy: "#"
              }
          })
      }}
  </div>
</div>
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
      
      {% if (data['logInScenario'] == "Unmatched email") %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We were unable to match your details</h1>


      <p class="govuk-body">The email address you used for your GOV.UK One Login may be different to the one you used for PIP.
        
      <p>Your GOV.UK One Login email address must match the one you used to create your PIP account.</p>
        
      <p>You can change your email address on the 
      <a href="security" class="govuk-link" rel="noreferrer noopener" target="_blank">GOV.UK One Login security page (opens in new tab)</a>.</p>

      <p class="govuk-body">After you've updated your email address, <a href="returning-email" class="govuk-link">sign in to PIP again</a>.</p>

      <p class="govuk-body">If you can't update your email address, or this did not solve the issue, contact the PIP enquiry line.</p>

    {% endif %}

    {% if (data['logInScenario'] == "Unmatched NINO") %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We were unable to match your details</h1>

      <p class="govuk-body"> We are unable to match the details you entered to our records. Please contact the PIP enquiry line.</p>
    {% endif %}      

      <h2 class="govuk-heading-m">PIP enquiry line</h2>
      <p class="govuk-body">
        Telephone: 0800 171 6279<br>
        Textphone: 0800 121 4493<br>
        <a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
        <a href="#">Video relay service for British Sign Language (BSL) users</a>. <a href="#">Check you can use the video relay service</a>.<br>
        Monday to Friday, 9am to 5pm.<br>
      </p>
      <p class="govuk-body">
        <a href="#">Find out about call charges</a>.
      </p> 
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}