{% extends "layouts/payability-internal.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/payability/v3/agent"
  }) }}
{% endblock %}

{% block content %}
{% set stays = data.stays or [] %}
{% set stay = stays | last %}
{% set ongoing = stay and (stay.endDate == null) %}
{% set stayLink %}{{ data['type-scenario'] }}{% endset %}
<!-- Case header -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">
      <section class="dwp-quick-reference govuk-!-margin-bottom-8" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
          <dt class="govuk-visually-hidden">Name</dt>
          <dd class="dwp-quick-reference__primary"><a href="#">Jeff Bridges</a></dd>

          <dt class="govuk-visually-hidden">National Insurance number</dt>
          <dd class="dwp-quick-reference__secondary">NA 11 22 33 C</dd>
        </dl>
      </section>
    </form>
  </div>
</div>

<!-- Main content row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/person-record-nav.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Accommodation stay history
    </h1>
        {% if data['suspend-check'] and (data['suspend-check'] == "Suspend" or 'Suspend' in data['suspend-check']) %}

      {% if data["type-scenario"] == "Care home" %}
        {{ govukWarningText({
          text: "Daily living component suspended."
        }) }}
      {% else %}
        {{ govukWarningText({
          text: "Daily living and mobility components suspended."
        }) }}
      {% endif %}

    {% endif %}
    
    <form class="form" action="../stay/type" method="post">
      {{ govukButton({ text: "Create a stay" }) }}
    </form>

          <h2 class="govuk-heading-m">Open stays</h2>
      <p class="govuk-body">
        Stays that are ongoing or need more information.
      </p>

     {{ govukSummaryList({
        card: {
          title: { text: "4 May 2026 - ongoing" },
          actions: {
            items: [{
              href: "/payability/v5/stay/pip-stay-complete",
              text: "View stay",
              visuallyHiddenText: "of closed stay"
            }]
          }
        },
        rows: [
          {
            key: { text: "Accommodation type" },
            value: { html: stayLink }
          },
          {
            key: { text: "Stay type" },
            value: { text: "Individual" }
          },
          {
            key: { text: "Days affected" },
            value: { text: "5" }
          }
        ]
      }) }}



  </div>
</div>

{% endblock %}