{% extends "layout.html" %}

{% set pageTitle = "Personal Independence Payment: health condition or disability" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
<p style="padding: 20px; margin: 0"><strong>Subject:</strong> {{ pageTitle }}</p>
  {% include "cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %} 

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="notify-width-container">

  <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Prototype notes
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        This email content was tested with users and does not sit at this point in the user journey. Appointees would receive this after the agent UI flow and before the registration flow.
      </p>
    </div>
  </div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">

      <p>Dear Jasmine Kang,
        <br>
        <br>
        We have received the Personal Independence Payment (PIP) application you started for James Kang.

        <br>  
        For the next stage of the PIP application, we will ask about their daily living and mobility needs to help us make our decision.
        <br>
        <br>
        If we need more information after you have submitted the application, we may invite you to an assessment.
        
      </p>

      <h2 class="govuk-heading-l">When to fill in the application by</h2>

      <p>You will need to answer all the questions and upload any 
        evidence you have by: <b>10 June 2025</b></p>

<h3 class="govuk-heading-m">If you need more time </h3>
      <p>If you need more time to fill in the form, contact us. Our contact details are at the end of this email.
If you have not submitted the application by the return date, and you have not let us know, we may end the PIP application.



</p> <p> Our contact details are at the end of this email.  </p>
<br>
      
        <h3 class="govuk-heading-m">Disability Living Allowance</h3>

     <p>Disability Living Allowance (DLA) is being replaced by PIP. If they are currently receiving DLA, this will stop if you do not complete the form by the return date or contact us for more time.</p>
      <br>
     <h2 class="govuk-heading-l">How to get started</h2>
     <h3 class="govuk-heading-m">Create your account</h3>

     <p>To register for our online services, you will need your:</p>
     <ul class="govuk-list govuk-list--bullet">
      <li>email address and access to your emails </li>
        <li>mobile phone</li>

     </ul>
      <p>The first time you sign in, you will be asked to enter some personal details so we can match them to our records.</p> 
      <br>


      <h2 class="govuk-heading-m">Complete your identity check</h2>

      <p>Before continuing the application, we will ask you to confirm your identity. This is to protect you against fraud.

        <br>
        We will guide you through what you need to do at each step, but it will be useful to have these ready:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Your National Insurance number</li>
            <li>2 types of identity documentation</li>
            </ul>

            <p>Once successfully completed, you can continue the application.</p>

            <h2 class="govuk-heading-l">Register to complete your application</h2>
            <div class="govuk-inset-text">
     
      <p>Create an account to continue the PIP application.
        <br>
        <br>
        If you already have an account, you can sign in.
        <br>
        <br>
        <a href="../scenario1/start-reg.html">http://apply-for-pip.dwp.gov.uk/home </a></p>

      </div>

        <h2 class="govuk-heading-m">Useful tips before you start</h2>

      <p>It might be helpful to keep a diary for a few days, you can note down:

        <br>
       
        <ul class="govuk-list govuk-list--bullet">
          <li>how their health condition or disability affects their daily life</li>
            <li>a list of things they need help with or find difficult</li>
            </ul>

            <p>You can also gather information to help you fill in the form and it can be uploaded as evidence to support your answers.
              <br>
              <br>
              You do not need to answer all the questions in one go. You can save the application and return to it later by signing back in.
              </p>

              <h2 class="govuk-heading-l">Help and support</h2>

              <p>There is information at each step of the online service to help you.
                <br>
                <br>
                You can download our PDF guide to complete the form once you have registered.
                <br>
                <br>
                If you change your mind and would prefer to complete a paper form instead, contact us so we can post it to you. 
                
                </p>
                

                <h3 class="govuk-heading-m">Changes you need to tell us about</h3>

                <p>You must tell us about any changes to their circumstances by post or telephone.
                  <br>
                  You can find out more about the types of changes that we need to know about by visiting www.gov.uk/pip/change-of-circumstances.
                  
                  </p>
                
        <h2 class="govuk-heading-l">How to contact us</h2>
        
        <div class="govuk-inset-text">
      <p>You can contact us by:<br>

        <ul class="govuk-list govuk-list--bullet">
          <li>Telephone: 0800 121 4433</li>
          <li>Textphone (if you have speech or hearing difficulties): 0800 121 4493</li>
          <li>Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 4433
            https://www.relayuk.bt.com
            
            </li>
            <li>Video relay service for British Sign Language (BSL) users:
              https://connect.interpreterslive.co.uk/vrs?ilc=DWP
              Check you can use the video relay service:
              https://www.youtube.com/watch?v=oELNMfAvDxw
              
              </li>
            </div>
          </div>
        
        <h2 class="govuk-heading-m">Keep your information safe</h2>
<p>Please do not reply to this message. We will not answer any emails sent to this email address. If you have any questions about PIP or the application you have submitted, contact us.</p>

<p><b>Important:</b> For security reasons The Department of Work and Pensions (DWP) cannot discuss personal information with you over email. DWP will never ask you to send any usernames, passwords, personal, health, medical or bank account information via email and we will not process such information if you do send it – it will be deleted.
  If you have received this email in error, please contact us on 0800 121 4433 and then permanently delete what you have received. If you are not the intended recipient, any disclosure, copying, distribution or other action taken in regard to the information contained in this e-mail is strictly prohibited.
  </p>
    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

</div>{# /notify-width-container #}

{% endblock %}
{% block footer %}
{% endblock %}
