{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with username -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [

    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="../home-pip-1-continue" name="">

      
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Sign in",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "Email address"
        },
        id: "event-name",
        name: "eventName"
      }) }}
      {{ govukInput({
        hint: {
          text: "Password"
        },
        id: "event-name",
        name: "eventName"
      }) }}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body"><a href="#">Register now</a> if you have not used this service before.</p>
    <h2 class="govuk-heading-m">Problems signing in</h2>
    <p class="govuk-body">
      <a href="#">I forgot my password</a><br></p>
      <p class="govuk-body">
      <a href="#">I cannot access the email I use to sign in</a>
    </p>
  </div>
  </div>

{% endblock %}