{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with username -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Help and contact"
      },

      {
        href: "signed-out",
        text: "Sign out"
      }


    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl ">
        Declaration
      </h1>
      <p class="govuk-body">The information I have given on this form is correct and complete.</p>
      <p class="govuk-body">I have provided the best information available to me at this time to support my claim.</p>
      <p class="govuk-body">I will tell the Department for Work and Pensions straightaway, by phone or in writing, of any changes that may affect my claim.</p>
      <p class="govuk-body">If my ability to carry out day-to-day activities or get around improves or gets worse, the amount of Personal Independence Payment (PIP) I get might change.</p>

      <form method="post" action="hig-submitted-idv-no">

        
        <input class="govuk-button" type="submit" value="I agree - send my information">

      </form>

    </div>
  </div>

{% endblock %}