{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with Firstname Lastname -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
    {
      href: "#",
      text: "Help and contact"
    },

    {
      href: "../oidv/signed-out",
      text: "Sign out"
    }


    ]
  }) }}
{% endblock %}

{% block content %} 
<form name="idv" method="post" action="/idv">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Stage 2 submitted
          </h1>
          <!--<div class="govuk-panel__body">
            You must submit further details by <br><strong>12th April 2024</strong>.
          </div>-->
        </div>

      <!-- <p class="govuk-body">Your reference is your National Insurance number.</p> -->

      <!-- <p class="govuk-body">If you're awarded PIP, your payments will start from today.</p> -->
      <p class="govuk-body">We have received your stage 2 form. We have sent a confirmation email to [email address].</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">You need to confirm your identity as soon as possible. We check everyone's identity to protect from fraud.</p>
      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "We cannot assess your application until you confirm your identity.",
        iconFallbackText: "Warning"
      }) }}
      <input type="submit" class="govuk-button" value="Confirm your identity" id="submit">   
      <p class="govuk-body">You can <a href="../e2e/home-supporting-evidence">sign out</a> and return later to confirm your identity or upload more evidence to support your application.</p>



    </div>
  </div>
</form>
{% endblock %}