{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with username -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Help and contact"
      },

      {
        href: "../health-form/signed-out",
        text: "Sign out"
      }

    ]
  }) }}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

      <h1 class="govuk-heading-l" style="margin-bottom: 40px;">
        Tell us how your health condition or disability affects you
      </h1>

      <p class="govuk-heading">Download and read the instructions <a href="/public/pdfs/pip2-info-booklet-v1.pdf" download="">Help with answering questions and providing evidence (PDF)</a></p>

      <p>You can download a copy of your completed application when you've finished.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Tell us about your health
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="condition">
                    About your health
                  </a>
                </div>
                <div class="govuk-task-list__status" id="about-your-health-1-status">
                  <strong class="govuk-tag" id="aboutyourhealth">Continue</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/about-your-health-professionals/introduction">
                    About your health or care professionals
                  </a>
                </div>
                <div class="govuk-task-list__status" id="about-your-health-2-status">
                  <strong class="govuk-tag govuk-tag--grey" id="aboutyourhealth">Not started</strong>
                </div>
              
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Tell us about your daily living activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/preparing-food/intro">
                    Preparing food
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-1-status">
                  <strong class="govuk-tag govuk-tag--grey" id="preparingfood">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/eating-and-drinking/intro">
                    Eating and drinking
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-2-status">
                  <strong class="govuk-tag govuk-tag--grey" id="eatinganddrinking">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-treatments/intro">
                    Managing treatments
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-3-status">
                  <strong class="govuk-tag govuk-tag--grey" id="managingtreatments">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/washing-and-bathing/intro">
                    Washing and bathing
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-4-status">
                  <strong class="govuk-tag govuk-tag--grey" id="washingandbathing">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-toilet-needs/intro">
                    Using the toilet and managing incontinence
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-5-status">
                  <strong class="govuk-tag govuk-tag--grey" id="managingtoiletneeds">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/dressing-and-undressing/intro">
                    Dressing and undressing
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-6-status">
                  <strong class="govuk-tag govuk-tag--grey" id="dressingandundressing">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/talking-and-listening/intro">
                    Talking,listening and understanding
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-7-status">
                  <strong class="govuk-tag govuk-tag--grey" id="talkingandlistening">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/reading/intro">
                    Reading
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-8-status">
                  <strong class="govuk-tag govuk-tag--grey" id="reading">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/mixing-with-other-people/intro">
                    Mixing with other people
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-9-status">
                  <strong class="govuk-tag govuk-tag--grey" id="mixingwithotherpeople">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-money/intro">
                    Managing money
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-10-status">
                  <strong class="govuk-tag govuk-tag--grey" id="managingmoney">Not started</strong>
                </div>
              
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Tell us about your mobility activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/planning-and-following-a-journey/intro">
                    Planning and following a journey
                  </a>
                </div>
                <div class="govuk-task-list__status" id="mobility-activities-1-status">
                  <strong class="govuk-tag govuk-tag--grey" id="planningandfollowingajourney">Not started</strong>
                </div>
              
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/moving-around/intro">
                    Moving around
                  </a>
                </div>
                <div class="govuk-task-list__status" id="mobility-activities-2-status">
                  <strong class="govuk-tag govuk-tag--grey" id="movingaround">Not started</strong>
                </div>
              
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Tell us about anything else
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/additional-information/intro">
                    Additional information
                  </a>
                </div>
                <div class="govuk-task-list__status" id="additional-info-status">
                  <strong class="govuk-tag govuk-tag--grey" id="additionalinformation">Not started</strong>
                </div>
              
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Upload supporting evidence and apply
          </h2>
          <ul class="app-task-list__items">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              
                <div class="govuk-task-list__name-and-hint">
                  <div>
                    Submit your application
                  </div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="apply-status">
                  Cannot start yet
                </div>
              
            </li>
          </ul>
        </li>
      </ol>


    </div>

  </div>
{% endblock %}