{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with username -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [      {
        href: "#",
        text: "Help and contact"
      },

      {
        href: "signed-out",
        text: "Sign out"
      }

    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl ">
        Identity confirmed: copy to be confirmed
      </h1>

      <form method="post" action="/identity-answer" name="identity">

        
        <input class="govuk-button " type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}