{% extends "layouts/payability.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/payability/v3/agent"
  }) }}
{% endblock %}

{% block content %}
{% set stays = data.stays or [] %}
{% set stay = stays | last %}
{% set ongoing = stay and (stay.endDate == null) %}

<!-- Case header -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">
      <section class="dwp-quick-reference govuk-!-margin-bottom-8" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
          <dt class="govuk-visually-hidden">Name</dt>
          <dd class="dwp-quick-reference__primary">Jeff Bridges</dd>

          <dt class="govuk-visually-hidden">National Insurance number</dt>
          <dd class="dwp-quick-reference__secondary">NA 11 22 33 C</dd>
        </dl>
      </section>
    </form>
  </div>
</div>

<!-- Main content row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/person-record-nav.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Accommodation stay history
    </h1>
    
    <form class="form" action="/payability/v3/stay/start" method="get">
      {{ govukButton({ text: "Add a stay" }) }}
    </form>

{% set stays = data.stays or [] %}
{% set ongoingStays = [] %}
{% set completedStays = [] %}
{% for s in stays %}

  {% set comp = s.completed or {} %}

  <!-- Setting all the conditions for a card to change to a completed on 
   - currently all qquestions have to be answered to be marked as complete-->
  {% set allQuestionsCompleted = (
    comp.type and
    comp.startDate and
    comp.endDate and
    comp.address and
    comp.funding and
    comp.repay and
    comp.boarder and
    comp.similarInstitution and
    comp.contact and
    comp.fundingAddress and
    comp.fundingContact
  ) %}

  {% if allQuestionsCompleted %}
    {% set completedStays = completedStays.concat([s]) %}
  {% else %}
    {% set ongoingStays = ongoingStays.concat([s]) %}
  {% endif %}

{% endfor %}

<!-- SCENARIO: ONE COMPLETED STAY (SHOW DEMO CONTENT + ANY USER ADDED STAY) -->

{% if data['PayabilityScenario'] == "One completed stay" %}
<h2 class="govuk-heading-m">Open stays</h2>
<p class="govuk-body">Stays that are ongoing or need more information.</p>
{% if ongoingStays.length %}
{% for s in ongoingStays %}

{% set start = s.startDate.day + " " + s.startDate.month + " " + s.startDate.year %}

{{ govukSummaryList({
  card: {
    title: { text: s.name or "Accommodation" },
    actions: {
      items: [
        {
          href: "/payability/v3/stay/" + s.id + "/overview",
          text: "Edit",
          visuallyHiddenText: "of " + (s.name or "accommodation")
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "Accommodation type" },
      value: { text: s.type or "Not provided" }
    },
    {
      key: { text: "Start date" },
      value: { text: start }
    },
    {
      key: { text: "Date recorded" },
      value: { text: s.dateRecorded }
    }
  ]
}) }}

{% endfor %}
{% endif %}
{% include "includes/open-stay.njk" %}

<!-- Add a closed stay to the list of stays -->
<h2 class="govuk-heading-m">Closed stays</h2>
<p>Stays that have all the information recorded and have been submitted.</p>
{% if completedStays.length %}

{% for s in completedStays %}

{% set start = s.startDate.day + " " + s.startDate.month + " " + s.startDate.year %}
{% set end = s.endDate.day + " " + s.endDate.month + " " + s.endDate.year %}

{{ govukSummaryList({
  card: {
    title: { text: s.type or "Accommodation" },
    actions: {
      items: [
        {
          href: "/payability/v3/stay/" + s.id + "/overview",
          text: "Edit",
          visuallyHiddenText: "of " + (s.name or "accommodation")
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "Accommodation name" },
      value: { text: s.name or "Not provided" }
    },
    {
      key: { text: "Dates" },
      value: { text: start + " – " + end }
    },
    {
      key: { text: "Date recorded" },
      value: { text: s.dateRecorded }
    }
  ]
}) }}

{% endfor %}
{% endif %}

{% include "includes/static-linked-stay.njk" %}
{% endif %}



<!-- SCENARIO: NO STAYS ADDED (If a stay exists → show it, else → show message) -->
{% if data['PayabilityScenario'] == "No stays added" %}

<!-- If no stays saved at all -->
    <p class="govuk-body">No accommodation stays have been recorded.</p>

{% endif %}

<!-- add an open stay starting from no stays added -->
    <!--{% if ongoingStays.length %}
      <h2 class="govuk-heading-m">Open stays</h2>

      {% for s in ongoingStays %}
        {% set start = s.startDate.day + "/" + s.startDate.month + "/" + s.startDate.year %}

        {{ govukSummaryList({
          card: {
            title: { text: s.type or "Accommodation" },
            actions: {
              items: [
                {
                  href: "/payability/v3/stay/" + s.id + "/overview",
                  text: "Edit",
                  visuallyHiddenText: "of " + (s.name or "accommodation")
                }
              ]
            }
          },
          rows: [
            {
              key: { text: "Accommodation name" },
              value: { text: s.name or "Not provided" }
            },
            {
              key: { text: "End date" },
              value: { html: '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>' }
            },
            {
              key: { text: "Start date" },
              value: { text: start }
            },
            {
              key: { text: "Recorded during" },
              value: { text: "Ongoing claim" }
            }
          ]
        }) }}
      {% endfor %}
    {% endif %}-->

<!-- add a completed stay from no stays added -->
    <!---->
    {% if completedStays.length %}
      <h2 class="govuk-heading-m">Closed stays</h2>
        
      {% for s in completedStays %}
        {% set start = s.startDate.day + "/" + s.startDate.month + "/" + s.startDate.year %}
        {% set end = s.endDate.day + " " + s.endDate.month + " " + s.endDate.year %}

        {{ govukSummaryList({
          card: {
            title: { text: s.type or "Accommodation" },
            actions: {
              items: [
                {
                  href: "/payability/v3/stay/" + s.id + "/overview",
                  text: "Edit",
                  visuallyHiddenText: "of " + (s.name or "accommodation")
                }
              ]
            }
          },
          rows: [
            {
              key: { text: "Accommodation name" },
              value: { text: s.name or "Not provided" }
            },
            {
              key: { text: "Date recorded" },
              value: { text: start }
            },
            {
              key: { text: "Date marked completed " },
              value: { text: s.dateRecorded }
            }
          ]
        }) }}

      {% endfor %}
    {% endif %}

  {% endif %}

{% endif %}
  </div>
</div>

{% endblock %}
``