{% extends "layouts/payability.html" %}

{% block pageTitle %}
  Stay task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% set stays = data.stays or [] %}
{% set stayIndex = data.stayIndex %}
{% set stay = stays[stayIndex] %}
{% set ongoing = stay and stay.endDate == null %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <section class="dwp-quick-reference govuk-!-margin-bottom-8">
      <dl class="dwp-quick-reference__block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jeff Bridges</dd>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">NA 11 22 33 C</dd>
      </dl>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <!-- Default state for new stay -->
     <!--<h1 class="govuk-heading-l">Stay in {{ stay.name or "hospital" }}</h1>-->
     <h1 class="govuk-heading-l">Stay in hospital</h1>
  <!--<h1 class="govuk-heading-l">Add stay details</h1>-->
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Status</th>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Incomplete</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Recorded during</th>
        <td class="govuk-table__cell">PIP registration</td>
      </tr>
    </tbody>
  </table>
  <!--
    <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Status</th>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Recorded during</th>
        <td class="govuk-table__cell">PIP registration</td>
      </tr>
    </tbody>
  </table>
  -->
  <!-- Appears when first task list is complete -->
   
  <h2 class="govuk-heading-m">Basic details</h2>
  <!--
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Accommodation type</th>
        <td class="govuk-table__cell">Hospital</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Start date</th>
        <td class="govuk-table__cell">19 January 2026</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">End date</th>
        <td class="govuk-table__cell">19 January 2026</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Accommodation address</th>
        <td class="govuk-table__cell">Royal Liverpool University Hospital<br>Mount Vernon St<br>Liverpool<br>L7 8YE</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Paid by</th>
        <td class="govuk-table__cell">NHS</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Agreement to repay</th>
        <td class="govuk-table__cell">No</td>
      </tr>
    </tbody>
  </table>
{% macro statusTag(completed) %}
  {% if completed %}
    {% set tag = '<strong class="govuk-tag govuk-tag--green">Completed</strong>' %}
  {% else %}
    {% set tag = '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>' %}
  {% endif %}
  {{ tag | safe }}
{% endmacro %}
-->


{# --- Correctly mapped variables from routing --- #}

{% set typeCompleted             = stay.completed.type %}
{% set startCompleted            = stay.completed.startDate %}

{% if stay.open %}
  {% set endCompleted = true %}
{% else %}
  {% set endCompleted = stay.completed.endDate %}
{% endif %}

{% set addressCompleted          = stay.completed.address %}
{% set fundingCompleted          = stay.completed.funding %}
{% set repayCompleted            = stay.completed.repay %}
{% set boarderCompleted          = stay.completed.boarder %}
{% set hospitalCheckCompleted    = stay.completed.similarInstitution %}
{% set contactCompleted          = stay.completed.contact %}
{% set fundingAddressCompleted   = stay.completed.fundingAddress %}
{% set fundingContactCompleted   = stay.completed.fundingContact %}

{# --- Status tags --- #}

{% set typeStatus              = { html: statusTag(typeCompleted) } %}
{% set startStatus             = { html: statusTag(startCompleted) } %}
{% set endStatus               = { html: statusTag(endCompleted) } %}
{% set addressStatus           = { html: statusTag(addressCompleted) } %}
{% set fundingStatus           = { html: statusTag(fundingCompleted) } %}
{% set repayStatus             = { html: statusTag(repayCompleted) } %}
{% set boarderStatus           = { html: statusTag(boarderCompleted) } %}
{% set hospitalCheckStatus     = { html: statusTag(hospitalCheckCompleted) } %}
{% set contactStatus           = { html: statusTag(contactCompleted) } %}
{% set fundingAddressStatus    = { html: statusTag(fundingAddressCompleted) } %}
{% set fundingContactStatus    = { html: statusTag(fundingContactCompleted) } %}

{{ govukTaskList({
  idPrefix: "stay-details",
  items: [
    {
      title: { text: "Accommodation type" },
      href: "/payability/v3/stay/type",
      status: typeStatus
    },
    {
      title: { text: "Start date" },
      href: "/payability/v3/stay/date-in",
      status: startStatus
    },
    {
      title: { text: "Exit date" },
      href: "/payability/v3/stay/date-left",
      status: endStatus
    },
    {
      title: { text: "Accommodation address" },
      href: "/payability/v3/stay/accommodation-lookup-name",
      status: addressStatus
    },
    {
      title: { text: "Funding source" },
      href: "/payability/v3/stay/funding-type",
      status: fundingStatus
    },
    {
      title: { text: "Agreement to repay" },
      href: "/payability/v3/stay/repay",
      status: repayStatus
    }
  ]
}) }}
<!--
<h2 class="govuk-heading-m">Additional details</h2>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Accommodation name</th>
        <td class="govuk-table__cell">Example name goes here</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Start date</th>
        <td class="govuk-table__cell">19 January 2026</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">End date</th>
        <td class="govuk-table__cell">19 January 2026</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Status</th>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Incomplete</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Recorded during</th>
        <td class="govuk-table__cell">PIP registration</td>
      </tr>
    </tbody>
  </table>

{{ govukTaskList({
  idPrefix: "stay-additional",
  items: [
    {
      title: { text: "Boarder status" },
      href: "/payability/v3/stay/accommodation-boarder",
      status: boarderStatus
    },
    {
      title: { text: "Similar institution to hospital" },
      href: "/payability/v3/stay/similar-institution",
      status: hospitalCheckStatus
    },
    {
      title: { text: "Accommodation contact" },
      href: "/payability/v3/stay/accommodation-contact-check",
      status: contactStatus
    },
    {
      title: { text: "Funding address" },
      href: "/payability/v3/stay/funding-address-check",
      status: fundingAddressStatus
    },
    {
      title: { text: "Funding contact" },
      href: "/payability/v3/stay/funding-contact-check",
      status: fundingContactStatus
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue",
  href: "/payability/v3/stay/continue"
}) }}
  -->

<p class="govuk-body govuk-!-margin-bottom-6">
  <a href="/payability/v3/person-record/accommodation-history" class="govuk-link">Return to accommodation stay history</a>
</p>

  </div>
</div>

{% endblock %}