{% extends "layouts/payability.html" %}

{% block pageTitle %}
  Stay overview – {{ serviceName }}
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/payability/v3/person-record/accommodation-history"
  }) }}
{% endblock %}

{% block content %}

{% set stays = data.stays or [] %}
{% set stayIndex = data.stayIndex %}
{% set stay = stays[stayIndex] %}

{% if not stay %}
  <h1 class="govuk-heading-l">Stay not found</h1>
  <p class="govuk-body">We couldn't find this stay.</p>
{% endif %}

{% if stay %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{# SIMPLE show() helper #}
{% macro show(val) %}
  {% if val %}
    {{ val }}
  {% else %}
    <span class="govuk-tag govuk-tag--blue">Incomplete</span>
  {% endif %}
{% endmacro %}

{# START DATE #}
{% if stay.startDate and stay.startDate.day %}
  {% set start = stay.startDate.day ~ "/" ~ stay.startDate.month ~ "/" ~ stay.startDate.year %}
{% else %}
  {% set start = "Incomplete" %}
{% endif %}

{# END DATE #}
{% if stay.endDate and stay.endDate.day %}
  {% set end = stay.endDate.day ~ "/" ~ stay.endDate.month ~ "/" ~ stay.endDate.year %}
{% else %}
  {% if stay.open %}
    {% set end = "Ongoing stay" %}
  {% else %}
    {% set end = "Incomplete" %}
  {% endif %}
{% endif %}

<h1 class="govuk-heading-l">
  Stay in 
  {% if stay.type %}
    {{ stay.type | capitalize }}
  {% else %}
    Accommodation
  {% endif %}
  on {{ start }}
</h1>

{# BUILD SUMMARY ROWS #}

{% set rows = [] %}


{# Date recorded #}
{% set rows = rows.concat([{ 
  key:{text:"Recorded on"},
  value:{ text: stay.dateRecorded or "Incomplete" }
}]) %}

{# Start date #}
{% set rows = rows.concat([{ 
  key:{text:"Start date"},
  value:{ html: show(start) }
}]) %}

{# End date #}
{% set rows = rows.concat([{ 
  key:{text:"End date"},
  value:{ html: show(end) }
}]) %}

{# Accommodation type #}
{% set rows = rows.concat([{ 
  key:{text:"Accommodation type"},
  value:{ html: show(stay.type) }
}]) %}

{# Address #}
{% set addressHtml = "" %}
{% if stay.address %}
  {% if stay.address.name %}
    {% set addressHtml = addressHtml ~ stay.address.name ~ "<br>" %}
  {% endif %}
  {% if stay.address.line1 %}
    {% set addressHtml = addressHtml ~ stay.address.line1 ~ "<br>" %}
  {% endif %}
  {% if stay.address.town %}
    {% set addressHtml = addressHtml ~ stay.address.town ~ "<br>" %}
  {% endif %}
  {% if stay.address.postcode %}
    {% set addressHtml = addressHtml ~ stay.address.postcode %}
  {% endif %}
{% endif %}

{% if addressHtml == "" %}
  {% set addressHtml = "<span class='govuk-tag govuk-tag--blue'>Incomplete</span>" %}
{% endif %}

{% set rows = rows.concat([{ 
  key:{text:"Accommodation address"},
  value:{ html: addressHtml }
}]) %}

{# Funding source #}
{% if stay.fundingType %}
  {% set fundingDisplay = stay.fundingType %}
{% else %}
  {% set fundingDisplay = "" %}
{% endif %}

{% set rows = rows.concat([{ 
  key:{text:"Funding source"},
  value:{ html: show(fundingDisplay) }
}]) %}

{# Agreement to repay #}
{% if stay.repaymentAgreement %}
  {% set repayDisplay = stay.repaymentAgreement %}
{% else %}
  {% set repayDisplay = "" %}
{% endif %}

{% set rows = rows.concat([{ 
  key:{text:"Agreement to repay"},
  value:{ html: show(repayDisplay) }
}]) %}

{# Boarder status #}
{% set rows = rows.concat([{ 
  key:{text:"Boarder status"},
  value:{ html: show(stay.boarderStatus) }
}]) %}

{# Similar institution #}
{% if stay.completed.similarInstitution %}
  {% set simInst = "Yes" %}
{% else %}
  {% set simInst = "" %}
{% endif %}

{% set rows = rows.concat([{ 
  key:{text:"Similar institution to hospital"},
  value:{ html: show(simInst) }
}]) %}

{# Contact details #}
{% set contactHtml = "" %}
{% if stay.contactDetails %}
  {% if stay.contactDetails.name %}
    {% set contactHtml = contactHtml ~ stay.contactDetails.name ~ "<br>" %}
  {% endif %}
  {% if stay.contactDetails.email %}
    {% set contactHtml = contactHtml ~ stay.contactDetails.email ~ "<br>" %}
  {% endif %}
  {% if stay.contactDetails.phone %}
    {% set contactHtml = contactHtml ~ stay.contactDetails.phone %}
  {% endif %}
{% endif %}

{% if contactHtml == "" %}
  {% set contactHtml = "<span class='govuk-tag govuk-tag--blue'>Incomplete</span>" %}
{% endif %}

{% set rows = rows.concat([{ 
  key:{text:"Accommodation contact"},
  value:{ html: contactHtml }
}]) %}

{# Funding address #}
{% if stay.completed.fundingAddress %}
  {% set fundAddr = "Yes" %}
{% else %}
  {% set fundAddr = "" %}
{% endif %}
{% set rows = rows.concat([{ 
  key:{text:"Funding address"},
  value:{ html: show(fundAddr) }
}]) %}

{# Funding contact #}
{% if stay.completed.fundingContact %}
  {% set fundContact = "Yes" %}
{% else %}
  {% set fundContact = "" %}
{% endif %}
{% set rows = rows.concat([{ 
  key:{text:"Funding contact"},
  value:{ html: show(fundContact) }
}]) %}

{{ govukSummaryList({ rows: rows }) }}

{{ govukButton({
  text: "Continue",
  href: "/payability/v3/stay/task-list"
}) }}

  </div>
</div>

{% endif %}

{% endblock %}