{% extends "layouts/payability.html" %}
{% block beforeContent %}
  {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
      <form class="form" action="date-still-there" method="post">


{% set ts = (data['type-scenario'] or 'Accommodation') | trim %}

{% if ts == 'Detention in Legal Custody' %}
  {% set article = '' %}
  {% set entity = 'detention in legal custody' %}
{% elif ts == 'none' %}
  {% set article = 'the ' %}
  {% set entity = 'accommodation' %}
{% else %}
  {% set article = 'the ' %}
  {% set entity = ts | lower %}
{% endif %}



    <h1 class="govuk-heading-l">
      When did you enter {{ article }}{{ entity }}?
    </h1>


{{ govukDateInput({
  id: "admission",
  namePrefix: "date-in",
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      classes: "govuk-input--width-2",
      name: "day",
      value: data['date-in-day']
    },
    {
      classes: "govuk-input--width-2",
      name: "month",
      value: data['date-in-month']
    },
    {
      classes: "govuk-input--width-4",
      name: "year",
      value: data['date-in-year']
    }
  ]
}) }}



      {{ govukButton({
        text: "Save and continue"
      }) }}

      {% include "includes/aar-task-list.html" %}

    </form>
  </div>
</div>

<!-- End row -->
{% endblock %}


