{% extends "layouts/payability.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="funding-contact" method="post">

      {% set legendText = "What contact details do you want to add?" %}

      {{ govukCheckboxes({
        name: "contact-options",
        fieldset: {
          legend: {
            text: legendText,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "Name",
            text: "Name"
          },
          {
            value: "Email address",
            text: "Email address"
          },
          {
            value: "Phone number",
            text: "Phone number"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      {% include "includes/aar-task-list.html" %}

    </form>

  </div>
</div>

{% endblock %}