{% extends "layouts/payability.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Should this stay be treated as a stay in an NHS hospital?</h1>

    <form action="accommodation-contact-check" method="post">

      {{ govukRadios({
        name: "similar-institution",
        fieldset: {
          legend: { 
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "A stay counts as a hospital/similar institution only if it employs qualified medical professionals, and the claimant gets treatment from or supervised by those professionals"
        },
        items: [
          { value: "Yes", text: "Yes" },
          { value: "No", text: "No" },
          { value: "I don't know", text: "I don't know" }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}

    </form>

    {% include "includes/aar-task-list.html" %}
  </div>
</div>
<!-- End row -->

{% endblock %}
``