{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with Firstname Lastname -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
    {
      href: "#",
      text: "Help and contact"
    },

    {
      href: "signed-out",
      text: "Sign out"
    }


    ]
  }) }}
{% endblock %}
{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "#"
  }) }}
{% endblock %}
{% block content %}
<form id="form" method="post" action="../claim-registration/ready-to-submit">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="name">
            Enter your email address
          </label>

         <p>We will send a security code to this email address.</p>
          
        </h1>
        <div id="account-number-hint" class="govuk-label">
          Email address
        </div>
        <input class="govuk-input govuk-input--width-30" type="text" value="">
      </div>

     

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->
</form>
{% endblock %}