{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-full">
    <p>
    {%- from "govuk/components/tag/macro.njk" import govukTag -%}

      {{ govukTag({
        text: "Scenario selection"
      }) }}
    </p>

    <form class="form" action="/scenario-answer" method="post">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "scenario",
      fieldset: {
        legend: {
          text: "Which scenario do you want to simulate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "self",
          text: "Self-serve PIP digital application"
        },
        {
          value: "invited",
          text: "Invited digital PIP application"
        }
      ]
    }) }}
    {{ govukButton({
      text: "Continue"
    }) }}

    <!--
    
    ,
        {
          value: "repeat-self",
          text: "Repeat self-serve digital PIP application"
        }, 
        {
          value: "repeat-invited",
          text: "Repeat invited digital PIP application"
        }, 
        {
          value: "appointee",
          text: "Appointee journey"
        }
    
    -->
</form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}
