{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Your Application
{% endblock %}

{% block header %}
  <!-- Standard GOV.UK header with Firstname Lastname -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for Personal Independence Payment (PIP)",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Help and contact"
      },

      {
        href: "#",
        text: "Sign out"
      }


    ]
  }) }}
{% endblock %}

{% block content %}
 
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% from "language-toggle/macro.njk" import dwpLanguageToggle %}

          {{
              dwpLanguageToggle({
                  selectedLang: "en",
                  href: {
                      en: "#",
                      cy: "#"
                  }
              })
          }}    
            <!-- <div class="govuk-width-container">
                <main class="govuk-main-wrapper"> -->
                  <!-- <div class="govuk-grid-row"> -->
     <h1 class="govuk-caption-xl">Firstname Lastname</h1>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">PIP Home</h1>
    
    
        </div>
        </div>
       <!-- Start row -->
       <div class="govuk-grid-row">
        <!-- Start cards -->
        <ul class="nhsuk-grid-row nhsuk-card-group">
          {% include "includes/pip1-continue.njk" %}
        </ul>
        <!-- End cards -->
         
        <!--<div class="govuk-grid-column-one-half">-->
      <!-- H2 heading -->
      <!-- <h3 class="govuk-heading-m">Your details</h3>-->
    
    

    <!-- Paragraph section -->
    <!-- <p class="govuk-body">
      Tell us about you, your health or care providers and if you have any communication needs. 
    </p>-->
    
    <!-- Link to other content -->
   <!-- <p class="govuk-body">
      <a href="../e2e/claim-registration/start.html" class="govuk-link">Start your application</a>
    </p>
        </div>-->
      </div>
{% endblock %}