{% extends "layouts/payability.html" %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Prototype index",
      href: "../index"
    },
    {
      text: "Payability",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/banner.njk" %}
    <form class="form" action="agent" method="post">

      {{ govukRadios({
        name: "PayabilityScenario",
        fieldset: {
          legend: {
            text: "Payability: select a scenario",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
            value: "One completed stay",
            text: "One completed stay"
          },
          {
            value: "No stays added",
            text: "No stays added"
          },
          {
            value: "No stay + completed stay",
            text: "No stay + completed stay"
          },
            {
            value: "No stay + ongoing stay",
            text: "No stay + ongoing stay"
          },
            {
            value: "No stay + stay with linked period ",
            text: "No stay + completed stay"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

<!-- End row -->
{% endblock %}
