{% extends "layouts/payability.html" %}
{% block beforeContent %}{% endblock %}
{% block content %}
{% include "includes/breadcrumbs.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- error summary on top of the page -->
    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: errors["accomodation-name"].text, href: "#accomodation-name" } if errors["accomodation-name"],
          { text: errors["address-town"].text, href: "#address-town" } if errors["address-town"]
        ] | reject("undefined")
      }) }}
    {% endif %}

    <form class="form" action="/accommodation-details" method="post" novalidate>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Accommodation details</h1>
        </legend>

        <!-- Accomodation name -->
        {{ govukInput({
          id: "accomodation-name",
          name: "accomodation-name",
          label: { text: "Accomodation name" },
          autocomplete: "accomodation-name",
          value: data["accomodation-name"],
          errorMessage: errors["accomodation-name"]
        }) }}

        <!-- Address line 1 -->
        {{ govukInput({
          id: "address-line-1",
          name: "address-line-1",
          label: { text: "Address line 1 (optional)" },
          autocomplete: "address-line1",
          value: data["address-line-1"]
        }) }}

        <!-- address line 2 -->
        {{ govukInput({
          id: "address-line-2",
          name: "address-line-2",
          label: { text: "Address line 2 (optional)" },
          autocomplete: "address-line2",
          value: data["address-line-2"]
        }) }}

        <!-- city -->
        {{ govukInput({
          id: "address-town",
          name: "address-town",
          label: { text: "Town or city" },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "address-level2",
          value: data["address-town"],
          errorMessage: errors["address-town"]
        }) }}

        <!-- county-->
        {{ govukInput({
          id: "address-county",
          name: "address-county",
          label: { text: "County (optional)" },
          classes: "govuk-!-width-two-thirds",
          value: data["address-county"]
        }) }}

        <!-- postcode -->
        {{ govukInput({
          id: "address-postcode",
          name: "address-postcode",
          label: { text: "Postcode (optional)" },
          classes: "govuk-input--width-10",
          autocomplete: "postal-code",
          value: data["address-postcode"]
        }) }}

        <!-- name of contact -->
        {{ govukInput({
          id: "primary-contact",
          name: "primary-contact",
          label: { text: "Contact name (optional)" },
          value: data["primary-contact"]
        }) }}

        <!-- email of contact -->
        {{ govukInput({
          id: "accomodation-email",
          name: "accomodation-email",
          label: { text: "Contact email address (optional)" },
          autocomplete: "accomodation-email",
          value: data["accomodation-email"]
        }) }}

      </fieldset>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      
    </form>
  </div>
</div>

{% endblock %}