{% extends "layouts/payability.html" %}
{% block beforeContent %}
{{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
        }) }}
{% endblock %}
{% block content %}
<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="accomodation-details" method="post">
    
      {{ govukRadios({
      name: "boarder-scenario",
      fieldset: {
        legend: {
          text: "Does the claimant stay there regularly?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        },
        {
          value: "Not known",
          text: "Not known"
        }
      ]}) }}

    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
      Save and continue
    </button>

</form>





<!-- End row -->
{% endblock %}