{% extends "layouts/payability.html" %}
{% block beforeContent %}
{% endblock %}

{% block content %}
{% include "includes/breadcrumbs.njk" %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post">

      {{ govukRadios({
        name: "Change_Me",
        fieldset: {
          legend: {
            text: "Change Me",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Default",
            text: "Default"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

<!-- End row -->
{% endblock %}