{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% set dateIn =
  data['date-in-day'] ~ " " ~
  data['date-in-month'] ~ " " ~
  data['date-in-year']
%}

{% set dateOut =
  data['date-out-day'] ~ " " ~
  data['date-out-month'] ~ " " ~
  data['date-out-year']
%}







{% block content %}
{% include "includes/breadcrumbs.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        {{(data['type-scenario'] or 'Accommodation')}} summary
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type of stay"
            },
            value: {
              text: data['type-scenario']
            },
            actions: {
              items: [
                {
                  href: "type",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of entry"
            },
            value: {
              text: dateIn
              
            },
            actions: {
              items: [
                {
                  href: "date",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ongoing stay"
            },
            value: {
              text: data['date-out-check']
            },  
            actions: {
              items: [
                {
                  href: "date",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "End date"
            },
            value: {
              text: dateOut
            },
            actions: {
              items: [
                {
                  href: "date",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          
          
{
      key: {
        text: (data['type-scenario'] or 'Accommodation') ~ " address"
      },
      value: {
        html:
          (data['accomodation-name']) ~ '<br>' ~
          (data['address-line-1'] or '') ~ '<br>' ~
          (data['address-line-2'] or '') ~ '<br>' ~
          (data['address-town'] or '')   ~ '<br>' ~
          (data['address-county'] or '') ~ '<br>' ~
          (data['address-postcode'] or '')
      },
      actions: {
        items: [
          {
            href: "accomodation-details",
            text: "Change",
            visuallyHiddenText: "accommodation address"
          }
        ]
      }
    },

    {
      key: {
        text: (data['type-scenario'] or 'Accommodation') ~ " contact"
      },
      value: {
        html:
          (data['primary-contact'] or 'No named contact') ~ '<br>' ~
          (data['accomodation-email'] or 'No email address')
      },
      actions: {
        items: [
          {
            href: "accomodation-details",
            text: "Change",
            visuallyHiddenText: "accommodation contact"
          }
        ]
      }
    },

    {
      key: {
        text: "Boarder status"
      },
      value: {
        html:
          (data['boarder-scenario'] or '')
          
      },
      actions: {
        items: [
          {
            href: "accomodation-boarder",
            text: "Change",
            visuallyHiddenText: "accommodation contact"
          }
        ]
      }
    },

    {
      key: {
        text: "Funding type"
      },
      value: {
        html:
          (data['funding-scenario'] or '')
          
      },
      actions: {
        items: [
          {
            href: "funding-type",
            text: "Change",
            visuallyHiddenText: "accommodation contact"
          }
        ]
      }
    },

    {
      key: {
        text: "Funding address"
      },
      value: {
        html:
          (data['funding-address-line-1'] or '') ~ '<br>' ~
          (data['funding-address-line-2'] or '') ~ '<br>' ~
          (data['funding-address-town'] or '')   ~ '<br>' ~
          (data['funding-address-county'] or '') ~ '<br>' ~
          (data['funding-address-postcode'] or '')
          
      },
      actions: {
        items: [
          {
            href: "funding-address",
            text: "Change",
            visuallyHiddenText: "accommodation contact"
          }
        ]
      }
    },

    {
      key: {
        text: "Funding contact"
      },
      value: {
        html:
          (data['funding-primary-contact'] or 'No named contact') ~ '<br>' ~
          (data['funding-email'] or 'No email address')
          
      },
      actions: {
        items: [
          {
            href: "funding-contact",
            text: "Change",
            visuallyHiddenText: "accommodation contact"
          }
        ]
      }
    }






  ]
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
