{% extends "layouts/payability.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% include "includes/breadcrumbs.njk" %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="accomodation-details" method="post">
      {{govukDateInput({
              id: "admission",
              namePrefix: "date-in",
              fieldset: {
                legend: {
                  text: "When did the stay begin?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }                }
             }) }}

      {% set dateOutHtml %}
        {{ govukDateInput({
          id: "date-out",
          namePrefix: "date-out",
          fieldset: {
            legend: {
              text: "Date they left",
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "date-out-check",
        fieldset: {
          legend: {
            text: "Are they still staying there?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No",
            conditional: {
              html: dateOutHtml
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}


    </form>
  </div>
</div>

<!-- End row -->
{% endblock %}


