{% extends "layouts/payability.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% include "includes/breadcrumbs.njk" %}

<form action="/payability/v1/person-record/temporary-accomodation" method="post" class="form">
 
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Add notes about this event</h1>
                
                <!------------H1 LEGEND------------>
                <!------------Legend--------------->
                <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s" for="record-1-event-history-reason-other-detail">
                <h1 class="govuk-body govuk-!-margin-bottom-0">Enter details of the event.</h1>
                </label>
                </h1>
                
                
                <div id="record-1-event-history-reason-other-detail-hint" class="govuk-hint">
                </div>
                
                
                <textarea class="govuk-textarea  govukTextarea--overwrite" id="record-1-event-history-reason-other-detail" name="record-1-event-history-reason-other-detail" rows="5" aria-describedby="record-1-event-history-reason-other-detail-hint">erewqrwer</textarea>
                
                </div>
 
 

 
<button type="submit" action="temporaty-accomodation" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
  Continue
</button>
 
 
        </div>
</div>
 
  </form>

  {% endblock %}