{% extends "layouts/payability.html" %}
{% block beforeContent %}
{% endblock %}

{% block content %}
{% include "includes/breadcrumbs.njk" %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
      <H1 class="govuk-heading-l">Should this be treated as a hospital stay?</H1>

      {{ govukRadios({
        name: "similar-institution",
        fieldset: {
          legend: { 
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
            {
            value: "Yes",
            text: "Yes"
          },
            {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "accomodation-boarder"
      }) }}
  </div>
</div>

<!-- End row -->
{% endblock %}