{% extends "layouts/payability-internal.html" %}

{% block pageTitle %}
  Stay task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

<!--{% set stays = data.stays or [] %}
{% set stayIndex = data.stayIndex %}
{% set stay = stays[stayIndex] %}
{% set ongoing = stay and stay.endDate == null %}-->


{# Determine the screen state based on persona #}
<!--
{% set isNewClaimPersona = data['PayabilityPersona'] == "Agent completing new claim stay end date" %}
{% set isOngoingClaimPersona = data['PayabilityPersona'] == "Agent handling an ongoing claim" %}
{% set isLinkedStay = data['PayabilityScenario'] == "Linked stay" %}-->
{% set stayLink %}<a href="/payability/v5/stay/pip-stay-complete" class="govuk-link">{{ data['type-scenario'] }}: 4 May 2026 to 14 June 2026</a>{% endset %}

{% set stayLinkNew %}<a href="/payability/v5/stay/pip-stay-complete" class="govuk-link">{{ data['type-scenario'] }}: 4 May 2026 - ongoing</a>{% endset %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <section class="dwp-quick-reference govuk-!-margin-bottom-8">
      <dl class="dwp-quick-reference__block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary"><a href="#">Jeff Bridges</a></dd>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">NA 11 22 33 C</dd>
      </dl>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">Accommodation stay outcome</h1>

      <p>How the accommodation stay has affected the amount of payable days.</p>

      <!--
      {% if data.ExtraConditions == "Entitlement changed resume" %}
        {{ govukWarningText({
        text: "Due to payment suspension, claimant has been underpaid £221.80.",
        iconFallbackText: "Warning"
        }) }}
      {% endif %}
  -->

      <!-- Show only for linked stays -->
      {% if data.PayabilityPersona == "Agent handling an ongoing claim" and data.PayabilityScenario == "linked stay" %}
        {{ govukInsetText({
          text: "This outcome is for a linked stay."
        }) }} 
      {% endif %}

      <!-- Show only for ongoing stays -->

{% if data.PayabilityPersona == "Agent handling an ongoing claim"
   and (
       data.PayabilityScenario == "No stays added"
       or data.PayabilityScenario == "One completed stay"

   )
   or data.PayabilityPersona == "Agent completing new claim stay end date"
%}

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Start date</th>
              
              <td class="govuk-table__cell">4 May 2026</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">End date</th>
            <td class="govuk-table__cell"><!--No changes to entitlement<br>-->
              {% if data.ExtraConditions == "Entitlement changed resume" %}
            Ongoing stay
            {% else %}
          14 June 2026
            {% endif %}
             <!--Entitlement date changed to [date goes here]<br><br>-->
            <!--Entitlement date changed to [date goes here]<br><br>-->
            
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Days in accommodation</th>
            <td class="govuk-table__cell">
              {% if data.ExtraConditions == "Entitlement changed resume" %}
              33
              {% else %}
              41
              {% endif %}
            </td>
              

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Days affected</th>
            <td class="govuk-table__cell">
              {% if data.ExtraConditions == "Entitlement changed resume" %}
              5
              {% elseif data.PayabilityPersona == "Agent completing new claim stay end date" %}
              41
              {% else %}
              13
              {% endif %}
            </td>
          </tr>
         <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Arrears reduction for this stay</th>
            <td class="govuk-table__cell">{% if data.ExtraConditions == "Entitlement changed resume" %}£81.80{% else %}£223.40{% endif %}</td>
          </tr>-->
        {% if data.ExtraConditions == "Entitlement changed overpayment" %}
         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total Days affected</th>
            <td class="govuk-table__cell">4</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total overpaid</th>
            <td class="govuk-table__cell">£68</td>
          </tr>
           {% endif %}
          <!--
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Underpaid</th>
            <td class="govuk-table__cell">£221.80</td>
          </tr>
          -->

        </tbody>
      </table>
       {% endif %}

        

        
        
        {% if data.ExtraConditions == "Entitlement not changed underpayment" %}
        No changes to entitlement<br><br>
        Claimant was underpaid<br><br>
        {% endif %}


       <!-- Show only for linked stays -->
         
      {% if data.PayabilityPersona == "Agent handling an ongoing claim" and data.PayabilityScenario == "linked stay" %}
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Start date</th>
              <td class="govuk-table__cell">4 May 2026</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">End date</th>
            <td class="govuk-table__cell"><!--No changes to entitlement<br>-->
              {% if data.ExtraConditions == "Entitlement changed resume" %}
            Ongoing stay
            {% else %}
            25 July 2026
            {% endif %}
             <!--Entitlement date changed to [date goes here]<br><br>-->
            <!--Entitlement date changed to [date goes here]<br><br>-->
            
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Days in accommodation</th>
            <td class="govuk-table__cell">
              {% if data.ExtraConditions == "Entitlement changed resume" %}
              33
              {% else %}
              74
              {% endif %}
            </td>
              

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Days affected</th>
            <td class="govuk-table__cell">
              {% if data.ExtraConditions == "Entitlement changed resume" %}
              5
              {% else %}
              46
              {% endif %}
            </td>
          </tr>
          <!--
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Underpaid</th>
            <td class="govuk-table__cell">£221.80</td>
          </tr>-->
        </tbody>
      </table>

      
      {% endif %}


      <!-- Show only if new claim -->
       <!--{% if isNewClaimPersona %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start date</th>
            <td class="govuk-table__cell">[Change]</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">End date</th>
            <td class="govuk-table__cell">-No changes to entitlement<br>-->
            
            <!--Entitlement date changed to [date goes here]<br><br>-->
            <!----><!--
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total days in accommodation</th>
            <td class="govuk-table__cell">32</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of claim</th>
            <td class="govuk-table__cell">[Date goes here]</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of entitlement</th>
            <td class="govuk-table__cell">[Date goes here]</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total reduction in arrears</th>
            <td class="govuk-table__cell">{% if data.ExtraConditions == "Entitlement changed resume" %}£68{% else %}£0{% endif %}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}-->
      
      <!-- Start single ongoing stay -->
      <h2 class="govuk-heading-m govuk-!-padding-top-6">Payable days</h2>
      <p>Payable days for each component.</p>
      {% if data.PayabilityPersona == "Agent handling an ongoing claim" and data.PayabilityScenario != "linked stay" %}
        {% if data.ExtraConditions == "Entitlement changed resume" %}
          {{ govukTable({
            head: [
              {
                text: "Stay"
              },
              {
                text: "Daily living payable days"
              },
              {
                text: "Mobility payable days"
              }
            ],
            rows: [
              [
                {
                  html: stayLinkNew
                },
                      {
                  text: "28"
                },
                {
                  text: "33"
                }
              ]
            ]
          }) }}
        {% else %}
          {{ govukTable({
            head: [
              {
                text: "Stay"
              },
              {
                text: "Daily living payable days"
              },
              {
                text: "Mobility payable days"
              }
            ],
            rows: [
              [
                {
                  html: stayLink
                },
                      {
                  text: "28"
                },
                {
                  text: "41"
                }
              ]
            ]
          }) }}
        {% endif %}
      {% endif %}
       <!-- End single ongoing stay -->


    <!-- Show only for linked stays -->
      {% if data.PayabilityPersona == "Agent handling an ongoing claim" and data.PayabilityScenario == "linked stay" %}
         
        {% if data.ExtraConditions != "Entitlement changed resume" %}
          {{ govukTable({
            head: [
              {
                text: "Stay"
              },
              {
                text: "Daily living payable days"
              },
              {
                text: "Mobility payable days"
              }
            ],
            rows: [
              [
                {
                  html: " <a href='/payability/v5/stay/pip-stay-complete' class='govuk-link'>Care home: 4 May 2026 to 14 June 2026</a>"
                },
                      {
                  text: "28"
                },
                {
                  text: "41"
                }
              ],
              [
                {
                  html: " <a href='/payability/v5/stay/pip-stay-complete' class='govuk-link'>Care home: 22 June 2026 to 25 July 2026</a>"
                },
                      {
                  text: "0"
                },
                {
                  text: "33"
                }
              ]
            ]
          }) }}
        {% else %}
          {{ govukTable({
            head: [
              {
                text: "Stay"
              },
              {
                text: "Daily living payable days"
              },
              {
                text: "Mobility payable days"
              }
            ],
            rows: [
              [
                {
                  html: " <a href='/payability/v5/stay/pip-stay-complete' class='govuk-link'>Care home: 4 May 2026 to 14 June 2026</a>"
                },
                      {
                  text: "28"
                },
                {
                  text: "40"
                }
              ],
              [
                {
                  html: " <a href='/payability/v5/stay/pip-stay-complete' class='govuk-link'>{{ data['type-scenario'] }}: 4 May 2026 to 5 July 2026</a>"
                },
                      {
                  text: "28"
                },
                {
                  text: "40"
                }
              ]
            ]
          }) }}
        {% endif %}

    {% endif %}

     {% if data.PayabilityPersona == "Agent completing new claim stay end date" %}

        {{ govukTable({
            head: [
              {
                text: "Stay"
              },
              {
                text: "Daily living payable days"
              },
              {
                text: "Mobility payable days"
              }
            ],
            rows: [

              [
                {
                  html: " <a href='/payability/v5/stay/pip-stay-complete' class='govuk-link'>Hospital: 4 May 2026 to 14 June 2026</a>"
                },
                      {
                  text: "0"
                },
                {
                  text: "0"
                }
              ]
            ]
          }) }}
        

     {% endif %}


  <p class="govuk-body govuk-!-padding-top-6">
{% if data['ExtraConditions'] != "Resume" and data['PayabilityPersona'] != "Agent completing new claim stay end date" %}
  <a href="/payability/v5/person-record/accommodation-history-open-stay" class="govuk-link">Accommodation stay history</a>
  {% else %}
  <a href="/payability/v5/person-record/accommodation-history-complete" class="govuk-link">Accommodation stay history</a>
  {% endif %}
</p>

  </div>
</div>

{% endblock %}