{% extends "layouts/payability-internal.html" %}

{% block pageTitle %}
  Stay task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageName = "Agent home" %}

{% block beforeContent %}
<!--
  {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
  }) }}
      -->
{% endblock %}

{% block content %}

{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% set stays = data.stays or [] %}
{% set stayIndex = data.stayIndex %}
{% set stay = stays[stayIndex] %}
{% set ongoing = stay and stay.endDate == null %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <section class="dwp-quick-reference govuk-!-margin-bottom-8">
      <dl class="dwp-quick-reference__block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary"><a href="#">Jeff Bridges</a></dd>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">NA 11 22 33 C</dd>
      </dl>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  {% include "includes/stay-record-head.njk" %}
  {% include "includes/stay-record.njk" %}
   {% include "includes/stay-record-linked-stay.njk" %}

  <p class="govuk-body govuk-!-padding-top-6">
    <a href="/payability/v5/person-record/accommodation-history-complete" class="govuk-link">Accommodation stay history</a>
  </p>

  </div>
</div>

{% endblock %}