{% extends "layouts/main.html" %}

{% set pageName="Launch Pad" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototype Home</h1>
    
        <p>This prototype is managed by <a
            href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133637996566/Team+Buzzard">Team Buzzard</a></p>
    
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Useful links </h3>

            <h3 class="govuk-heading-s">
            <li> <a
                href="../v0/main-1">PIP Home</a> </li>

</h3>
  </div>
</div>

{% endblock %}
