{% extends "layouts/main.html" %}

{% set pageName="Launch Pad" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototype Home</h1>
    
        <p>This prototype is managed by <a
            href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133637996566/Team+Buzzard">Team Buzzard</a></p>
    
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
    
              Hello world
    
    
              <h3 class="govuk-heading-s">
  

  </div>
</div>

{% endblock %}
